<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="0.12.1" targetFramework="net45" />
  <package id="Angular.UI.UI-Router" version="0.2.13" targetFramework="net45" />
  <package id="AngularJS.Core" version="1.3.14" targetFramework="net45" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="3.2.2" targetFramework="net45" />
  <package id="AngularJS-Toaster" version="0.4.8" targetFramework="net45" />
  <package id="angular-ui.TypeScript.DefinitelyTyped" version="2.4.3" targetFramework="net45" />
  <package id="bootstrap" version="3.3.2" targetFramework="net45" />
  <package id="jQuery" version="1.9.1" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.2.3" targetFramework="net45" />
  <package id="leaflet.TypeScript.DefinitelyTyped" version="0.2.8" targetFramework="net45" />
  <package id="lodash" version="3.7.0" targetFramework="net45" />
</packages>