<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <!--Remove reference first, just in case it has been added at a higher level in IIS-->
        <remove value="index.html"/> <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>