<!-- Modal -->

<!-- Start modal header -->
<div class="modal-header">
    <button class="close" ng-click="vm.Close()">
        &times;
    </button>
    <h4 class="modal-title">StreamStats Batch Processor</h4>
</div>
<!-- End modal header -->

<!-- Start modal body-->
<div class="modal-body">

    <!-- Start batch processor tabs -->
    <ul id="bpTabs" class="nav nav-tabs">
        <li ng-class="{'active':vm.selectedBatchProcessorTabName == 'submitBatch'}"><a
                ng-click="vm.selectBatchProcessorTab('submitBatch')"><i class="fa fa-file"></i>&nbsp;Submit
                Batch</a></li>
        <li ng-class="{'active':vm.selectedBatchProcessorTabName == 'batchStatus'}"><a
                ng-click="vm.selectBatchProcessorTab('batchStatus')"><i class="fa fa-info-circle"></i>&nbsp;Batch
                Status</a></li>
    </ul><!-- End batch processor tabs -->

    
    <div style="padding-top: 10px;">
        <!-- Start submit batch -->
        <div id="submitBatch" ng-if="vm.selectedBatchProcessorTabName==='submitBatch'">
            <!-- Start instructions -->
            <div> The StreamStats Batch Processor allows users to run StreamStats for numerous points via an automated process.
                <br>
                <br>
                <b>How to Submit a Batch</b>
                <br>
                <ol>
                    <li>Create a point shapefile:</li>
                    <ul style="list-style-type: disc; padding: 0px">
                        <li>Ensure points are coincident with the stream grid used by StreamStats for delineation.</li>
                        <li>Shapefile must have an ID field that uniquely identifies each point. </li>
                        <li>Shapefile must be a point shapefile. Polyline, polygon, and multipoint geometries cannot be processed.
                        </li>
                        <li>Only the first 250 points will be processed.</li>
                        <li>Only points contained within the requested State/Region will be processed.</li>
                    </ul>
                    <li>Complete the form below. Highlighted fields are required.</li>
                    <li>Click the "Submit Batch" button and confirm that the batch was submitted successfully.</li>
                    <li>Check your email or the "Batch Status" tab to see the batch status and retrieve file geodatabase results.
                    </li>
                </ol>
            </div>
            <!-- End instructions -->

            <!-- Start select region -->
            <div id="selectRegionID" style="padding-top: 15px;">
                <label> State / Region: </label>
                <div ng-hide="!vm.regionListSpinner"><i class="fa fa-spinner fa-3x fa-spin loadingSpinner"></i></div>
                <div ng-hide="!vm.regionList">
                    <select class="bp-select" ng-model="vm.selectedRegion"
                        ng-options="region.Code as region.Name for region in vm.regionList track by region.Code"
                        ng-change="vm.getFlowStatsAndParams(vm.selectedRegion)" required>
                        <option value="">Select a State / Region</option>
                    </select>
                </div>

            </div><!-- End select region -->
            
            <!-- start user information-->
            <div style="padding-top: 15px">
                <!-- Start idfield -->
                <div> ID Field:
                    <i ng-mouseover="showTooltip = true" ng-mouseleave="showTooltip = false" class="fa fa-question-circle"></i>
                    <span ng-show="showTooltip" class="report-tooltip">
                        <span>This is the field heading from the shapefile of points that is unique to each point and allows the
                            data to be
                            joined with the batch results.</span>
                    </span>
                    <input class="bp-input" type="text" id="idField" ng-model="vm.submitBatchData.idField" required>
                </div><br /><!-- End idfield -->

                <!-- Start email field -->
                <div>
                    <span> Email Address:
                        <input class="bp-input" type="email" id="emailField" ng-model="vm.submitBatchData.email" required></span>

                </div><br /><!-- End email field -->
                
                <!-- Start file upload button-->
                <div>
                    <span>Upload Shapefile (.zip):</span><br />
                    <label ng-if="!vm.submitBatchData.attachment || vm.submitBatchData.attachment.type != 'application/zip'" for="shapefile" 

                    class="bp-attach-false">
                        Select file</label>
                    <label ng-if="vm.submitBatchData.attachment && vm.submitBatchData.attachment.type == 'application/zip'" for="shapefile"

                        class="bp-attach-true">
                        Select file</label>
                    <input type="file" ngf-select="vm.validateZipFile($files)" ng-model="vm.submitBatchData.attachment" id="shapefile" name="shapefile" accept=".zip"

                        ngf-accept="application/zip" required style="display: none;">
                    <span ng-show="vm.submitBatchData.attachment">

                        <i class="fa fa-check" style="color:green"></i>&nbsp;&nbsp;{{vm.submitBatchData.attachment.name}}<button
                            class="close removeItem" ng-click="vm.submitBatchData.attachment = null">&times;</button>
                    </span>
                </div><!-- End file upload button-->
            </div><!-- End user information-->
            
            <!-- Start checkboxes for different sections -->
            <div style="padding-top: 15px;">
                <span>
                    <input id="cbDelineate" , type="checkbox" ng-checked="vm.selectedRegion" display="inline-block"
                        ng-disabled="vm.selectedRegion">
                    <label class="chx" for="cbDelineate">&nbsp;Basin Delineation&nbsp;&nbsp;&nbsp;&nbsp;</label>

                    <input id="cbFlowStats" type="checkbox" display="inline-block" ng-model="cbFlowStats">
                    <label class="chx" for="cbFlowStats">&nbsp;Compute Flow Statistics&nbsp;&nbsp;&nbsp;&nbsp;</label>

                    <input id="cbBasinChar" type="checkbox" display="inline-block" ng-model="cbBasinChar"
                        ng-click="cbBasinChar = !cbBasinChar"
                        ng-checked="vm.showBasinCharacteristics || cbBasinChar" ng-disabled="vm.showBasinCharacteristics">
                    <label class="chx" for="cbBasinChar">&nbsp;Compute Basin Characteristics</label>
                </span>
            </div><!-- end checkboxes for different sections -->

            <!-- Start select flow statistics -->
            <div ng-if="cbFlowStats" style="padding-top: 15px;" class="well well-sm">
                <h3>Select Flow Statistics</h3>
                <!-- button to check/uncheck all -->
                <button class="btn-blue fullwidth" ng-class="btn-blue" ng-click="vm.toggleFlowStatisticsAllChecked()">
                    <span ng-if="vm.flowStatsAllChecked">Select All Flow Statistics</span>
                    <span ng-if="!vm.flowStatsAllChecked">Unselect All Flow Statistics</span>
                </button>
                <!-- create list of flow stats checkboxes -->
                <div ng-hide="!vm.flowStatsListSpinner"><i class="fa fa-spinner fa-3x fa-spin loadingSpinner"></i></div>
                <div ng-hide="!vm.flowStatsList">
                    <table class="table table-condensed">
                        <thead class="param-table">
                            <tr>
                                <th >Select</th>
                                <th class="col-xs-7">Statistic Group</th>
                                <th class="col-xs-3"></th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="flowStat in vm.flowStatsList">
                            <tr>
                                <td>
                                    <checkbox large ng-model="flowStat.checked" ng-change="vm.setRegionStats(flowStat)">
                                    </checkbox>
                                </td>
                                <td><span>&nbsp;&nbsp;{{flowStat.statisticGroupName}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- End select flow statistics -->

            <!-- Start select parameters -->
            <div ng-show="vm.showBasinCharacteristics || cbBasinChar" style="padding-top: 15px;" class="well well-sm">
                <h3>Select Basin Characteristics</h3>
                <!-- button to check/uncheck all -->
                <button class="btn-blue fullwidth" ng-class="!vm.parametersAllChecked ? 'btn-black': 'btn-blue'"
                    ng-click="vm.toggleParametersAllChecked()">
                    <span ng-if="vm.parametersAllChecked">Select All Basin Characteristics</span>
                    <span ng-if="!vm.parametersAllChecked">Unselect All Basin Characteristics</span>
                </button>

                <!-- create table of parameters checkboxes -->
                <div ng-hide="!vm.parametersListSpinner"><i class="fa fa-spinner fa-3x fa-spin loadingSpinner"></i></div>
                <div ng-hide="!vm.availableParamList">
                    <table class="table table-condensed">
                        <thead class="param-table">
                            <tr>
                                <th class="col-xs-2">Select</th>
                                <th class="col-xs-3">Parameter</th>
                                <th class="col-xs-7">Description</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="parameter in vm.availableParamList">
                            <tr>
                                <td>
                                    <checkbox large ng-model="parameter.checked"
                                        ng-change="vm.updateSelectedParamList(parameter)" ng-disabled="!parameter.toggleable">
                                    </checkbox>
                                </td>
                                <td><span>&nbsp;&nbsp;{{parameter.code}}</span></td>
                                <td><span>&nbsp;&nbsp;{{parameter.description}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- End parameter selection -->

        </div><!-- End submit batch -->
        

        <!-- Start batch status -->
        <div id="batchStatus" ng-if="vm.selectedBatchProcessorTabName==='batchStatus'">
            <!-- Start instructions -->
            <div>
                Batches may take several hours or days to complete. Use this tab to check the status and results of your batches.
                <br>
                <br>
                <b>How to Check Batch Status</b>
                <ol>
                    <li>Enter your email address.</li>
                    <li>Batch status will appear in the <i>Status</i> column.</li>
                    <li>When results are ready for download, a hyperlink will appear in the <i>Results</i> column.</li>
                    <li>If you would like to remove a batch from the queue, click on the trash can icon.</li>
                </ol>
            </div>
            <!-- End instructions -->
            <p>This is the batch status tab</p>
        </div> <!-- End batch status -->
       
</div> <!-- End of modal body -->

<!-- Start modal footer -->
<div class="modal-footer">
    <div class="row" style="justify-content: center;">
        <!-- Button to submit batch -->
        <button ng-if="vm.selectedBatchProcessorTabName==='submitBatch'" type="submit" class="btn-wim-default" style="margin-right: 10px;" ng-click="vm.submitBatch()"
            ng-disabled="vm.submittingBatch || !vm.selectedRegion || !vm.submitBatchData.idField || !vm.submitBatchData.email || !vm.submitBatchData.attachment"><i

                class="fa fa-share"></i><span>&nbsp;&nbsp;Submit Batch</span></button>
        <!-- End submit batch button -->

        <!-- Button to close modal -->
        <button ng-click="vm.Close()" class="btn-black"><i

                class="fa fa-close"></i><span>&nbsp;&nbsp;Close</span></button>
        <!-- End close modal button -->
    </div>

    <div class="bp-submit-success" ng-show="vm.submittingBatch">The batch was submitted successfully. You will be
        notified by email when results are available.
    </div>
</div><!-- End modal footer -->