<!-- Modal -->
<head>
    <style>
        input:required:invalid {
            border: 2px solid #FBEC5D;
        }           

        select:required:invalid {
            border: 2px solid #FBEC5D;
        }

        .bp-submit-success {
            display: block;
            width: 100%;
            box-sizing: border-box;
            padding: 14px 18px;
            margin: 10px 0;
            font-size: 9pt;
            letter-spacing: 0.8px;
            border: 1px solid #d3d3d3;
            color: #FFFFFF;
            border-radius: 3px;
            font-weight: 400;
            background-color: green;
            text-align: center;
        }
        
    </style>
    <script src="../node_modules/angularjs-toaster/toaster.js"></script>
</head>


<div class="modal-header">
    <button class="close" ng-click="vm.Close()">
        &times;
    </button>
    <h4 class="modal-title">StreamStats Batch Processor</h4>
</div>
<div class="modal-body">
    <ul id="bpTabs" class="nav nav-tabs">
        <li ng-class="{'active':vm.selectedBatchProcessorTabName == 'submitBatch'}"><a
                ng-click="vm.selectBatchProcessorTab('submitBatch')"><i class="fa fa-question-circle"></i>&nbsp;Submit
                Batch</a></li>
        <li ng-class="{'active':vm.selectedBatchProcessorTabName == 'batchStatus'}"><a
                ng-click="vm.selectBatchProcessorTab('batchStatus')"><i class="fa fa-info-circle"></i>&nbsp;Batch
                Status</a></li>
    </ul>
    <div style="padding-top: 10px;">
        <!-- Start submit batch -->
        <div id="submitBatch" ng-if="vm.selectedBatchProcessorTabName==='submitBatch'">
           
            <!-- Start select region -->
            <div id="selectRegionID">
                <label> State / Region: </label>
                <select ng-model="vm.selectedRegion"
                    ng-options="region.Code as region.Name for region in vm.regionList track by region.Code"
                    ng-change="vm.getFlowStatsAndParams(vm.selectedRegion)" required>
                    <option value="">Select a State / Region</option>
                </select>
            </div><!-- End select region -->
            
            <!-- Start checkboxes for different sections -->
            <div style="padding-top: 15px;">
                <span>
                    <input id="cbDelineate" , type="checkbox" ng-checked="vm.selectedRegion" display="inline-block"
                        ng-disabled="vm.selectedRegion">
                    <label class="chx" for="cbDelineate">&nbsp;Basin Delineation&nbsp;&nbsp;&nbsp;&nbsp;</label>

                    <input id="cbFlowStats" type="checkbox" display="inline-block" ng-model="cbFlowStats">
                    <label class="chx" for="cbFlowStats">&nbsp;Compute Flow Statistics&nbsp;&nbsp;&nbsp;&nbsp;</label>

                    <input id="cbBasinChar" type="checkbox" display="inline-block" ng-model="cbBasinChar"
                        ng-click="cbBasinChar = !cbBasinChar"
                        ng-checked="vm.showBasinCharacteristics || cbBasinChar" ng-disabled="vm.showBasinCharacteristics">
                    <label class="chx" for="cbBasinChar">&nbsp;Compute Basin Characteristics</label>
                </span>
            </div><!-- end checkboxes for different sections -->

            <!-- Start select flow statistics -->
            <div ng-if="cbFlowStats" style="padding-top: 15px;" class="well well-sm">
                <h3>Select Flow Statistics</h3>
                <!-- button to check/uncheck all -->
                <button class="btn-blue fullwidth" ng-class="btn-blue" ng-click="vm.toggleFlowStatisticsAllChecked()">
                    <span ng-if="vm.flowStatsAllChecked">Select All Flow Statistics</span>
                    <span ng-if="!vm.flowStatsAllChecked">Unselect All Flow Statistics</span>
                </button>
                <!-- create list of flow stats checkboxes -->
                <table class="table table-condensed">
                    <thead class="param-table">
                        <tr>
                            <th >Select</th>
                            <th class="col-xs-7">Statistic Group</th>
                            <th class="col-xs-3"></th>
                        </tr>
                    </thead>
                <tbody ng-repeat="flowStat in vm.flowStatsList">
                    <tr>
                        <td>
                            <checkbox large ng-model="flowStat.checked" ng-change="vm.setRegionStats(flowStat)">
                            </checkbox>
                        </td>
                        <td><span>&nbsp;&nbsp;{{flowStat.statisticGroupName}}</span></td>
                    </tr>
                </tbody>

                </table>
            </div><!-- End select flow statistics -->

            <!-- Start select parameters -->
            <div ng-show="vm.showBasinCharacteristics || cbBasinChar" style="padding-top: 15px;" class="well well-sm">
                <h3>Select Basin Characteristics</h3>
                <!-- button to check/uncheck all -->
                <button class="btn-blue fullwidth" ng-class="!vm.parametersAllChecked ? 'btn-black': 'btn-blue'"
                    ng-click="vm.toggleParametersAllChecked()">
                    <span ng-if="vm.parametersAllChecked">Select All Basin Characteristics</span>
                    <span ng-if="!vm.parametersAllChecked">Unselect All Basin Characteristics</span>
                </button>
                <!-- create table of parameters checkboxes -->
                <table class="table table-condensed">
                    <thead class="param-table">
                        <tr>
                            <th class="col-xs-2">Select</th>
                            <th class="col-xs-3">Parameter</th>
                            <th class="col-xs-7">Description</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="parameter in vm.availableParamList">
                        <tr>
                            <td>
                                <checkbox large ng-model="parameter.checked"
                                    ng-change="vm.updateSelectedParamList(parameter)" ng-disabled="!parameter.toggleable">
                                </checkbox>
                            </td>
                            <td><span>&nbsp;&nbsp;{{parameter.code}}</span></td>
                            <td><span>&nbsp;&nbsp;{{parameter.description}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- End parameter selection -->

            <!-- Start user information -->
            <div style="padding-top: 15px;" class="row">
                <div class="col-md-5"> ID Field: 
                    <i ng-mouseover="showTooltip = true" ng-mouseleave="showTooltip = false" class="fa fa-question-circle"></i>
                    <span ng-show="showTooltip" class="report-tooltip">
                        <span>This is the field heading from the shapefile of points that is unique to each point and allows the
                            data to be
                            joined with the batch results.</span>
                    </span>
                    <input type="text" id="idField" ng-model="vm.submitBatchData.idField" required>
                </div>
                <div class="col-md-7">
                    <span> Email Address: 
                        <input type="text" id="emailField" ng-model="vm.submitBatchData.email" required></span>
                </div>
            </div> <!-- End user information-->

            <!-- Create a file upload button and specify it needs to be a zipped shapefile -->
            <div style="padding-top: 15px;">
                <span>Upload Shapefile (.zip):</span><br />
                <label for="shapefile" style="border: 1px solid #ccc; display: inline-block; padding: 6px 12px; cursor: pointer;"> Select file</label>
                <input type="file" ngf-select ng-model="vm.submitBatchData.attachment" id="shapefile" name="shapefile" accept=".zip" ngf-accept="application/zip" required style="display: none;">
                <span ng-show="vm.submitBatchData.attachment">
                    <i class="fa fa-check" style="color:green"></i>&nbsp;&nbsp;{{vm.submitBatchData.attachment.name}}<button class="close removeItem"
                        style="" ng-click="vm.submitBatchData.attachment = null">&times;</button>
                </span>
            </div>

            <!-- Button to submit batch  -->
            <div style="padding-top: 15px; text-align: center;">
                <button type="submit" class="btn-wim-default" ng-click="vm.submitBatch()"
                    ng-disabled="vm.submittingBatch || !vm.selectedRegion || !vm.submitBatchData.idField || !vm.submitBatchData.email"><i class="fa fa-share"></i><span>&nbsp;&nbsp;Submit Batch</span></button>
                <div class="bp-submit-success" ng-show="vm.submittingBatch">The batch was submitted successfully. You will be notified by email when results are available.
                </div>
            </div> <!-- End submit batch button -->

        </div><!-- End submit batch -->
        

        <!-- Start batch status -->
        <div id="batchStatus" ng-if="vm.selectedBatchProcessorTabName==='batchStatus'">
            <p>This is the batch status tab</p>
        </div> <!-- End batch status -->
       
    </div> <!-- End of modal body -->

        <div class="modal-footer">
            <button ng-click="vm.Close()" class="btn-black"><i
                    class="fa fa-close"></i><span>&nbsp;&nbsp;Close</span></button>
        </div>