<!-- Modal -->

<div class="modal-header">
    <button class="close"
            ng-click="vm.Close()">
        &times;
    </button>
    <h4 class="modal-title">StreamStats Batch Processor</h4>
</div>
<div class="modal-body">
    <ul id="aboutTabs" class="nav nav-tabs">
        <li ng-class="{'active':vm.selectedBatchProcessorTabName == 'submitBatch'}"><a ng-click="vm.selectBatchProcessorTab('submitBatch')"><i class="fa fa-question-circle"></i>&nbsp;Submit Batch</a></li>
        <li ng-class="{'active':vm.selectedBatchProcessorTabName == 'batchStatus'}"><a ng-click="vm.selectBatchProcessorTab('batchStatus')"><i class="fa fa-info-circle"></i>&nbsp;Batch Status</a></li>
    </ul>
    <div style="padding-top: 10px;">
        <!-- Start submit batch -->
        <div id="submitBatch" ng-if="vm.selectedBatchProcessorTabName==='submitBatch'">
            <div id="selectRegionID">
                <label>Select State / Region:</label>
                <select ng-model="vm.selectedRegion" ng-options="region.code as region.name for region in vm.regionList track by region.code"
                ng-change="vm.getFlowStats(vm.selectedRegion)"></select>
            </div>
            <!-- ng-class="{'active':vm.selectedRegionCode == region.code}" -->
            <div>                
                <span>                

                    <input id="cbDelineate" , type="checkbox" ng-checked="vm.selectedRegion" display="inline-block" ng-disabled="vm.selectedRegion">
                    <label class="chx" for="cbDelineate">&nbsp;&nbsp;&nbsp;Basin Delineation&nbsp;&nbsp;&nbsp;</label>
                    
                    <input id="cbBasinChar" type="checkbox" display="inline-block">
                    <label class="chx" for="cbBasinChar">&nbsp;&nbsp;&nbsp;Compute Basin Characteristics&nbsp;&nbsp;&nbsp;</label>

                    <input id="cbFlowStats" type="checkbox" display="inline-block" ng-model="cbFlowStats">
                    <label class="chx" for="cbFlowStats">&nbsp;&nbsp;&nbsp;Compute Flow Statistics</label>
                </span>
            </div>
            <div ng-if="cbFlowStats">
                <label for="selectFlowStatistics">Select Flow Statistics</label>
                <div id="selectFlowStatistics"  ng-repeat="flowStat.statisticGroupID as flowStat.statisticGroupName for flowStat in vm.flowStatList track by flowStat.code">
                    <label><input type="checkbox" ng-model="selectedFlowStatics" ng-true-value="'{{flowStat.statisticGroupName}}'"
                            ng-false-value="''">{{flowStat.statisticGroupName}}</label>
                </div>
            </div>
        </div>
        <!-- End submit batch -->
        <div id="batchStatus" ng-if="vm.selectedBatchProcessorTabName==='batchStatus'">
            <p>This is the batch status tab</p>
        </div>

</div> 

<div class="modal-footer">
    <button ng-click="vm.Close()" class="btn-black"><i class="fa fa-close"></i><span>&nbsp;&nbsp;Close</span></button>
</div>