<div id="print-content">   
    <!-- Modal -->
    <div class="modal-header hidden-print">
        <button type="button" class="close" ng-click="vm.close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Culvert Replacement Reports</h4>
    </div>
    <div class="modal-body" >
        <ul id="aboutTabs" class="nav nav-tabs">
            <li ng-class="{'active':vm.selectedAboutTabName==='10-yr Flow'}"><a ng-click="vm.selectCulvertTab('10-yr Flow')">10-yr Flow</a></li>
            <li ng-class="{'active':vm.selectedAboutTabName==='25-yr Flow'}"><a ng-click="vm.selectCulvertTab('25-yr Flow')">25-yr Flow</a></li>
            <li ng-class="{'active':vm.selectedAboutTabName==='50-yr Flow'}"><a ng-click="vm.selectCulvertTab('50-yr Flow')">50-yr Flow</a></li>
            <li ng-class="{'active':vm.selectedAboutTabName==='100-yr Flow'}"><a ng-click="vm.selectCulvertTab('100-yr Flow')">100-yr Flow</a></li>
            <li ng-class="{'active':vm.selectedAboutTabName==='MA SCS'}"><a ng-click="vm.selectCulvertTab('MA SCS')">MA SCS</a></li>
        </ul> 
        <div>
            <div class="form-group hidden-print">
                <div class="wim-alert" >Enter a report title and/or comments here that will display on the printed report.  Use the print button below.</div>
                <label >Enter report title:</label>
                <input type="text" class="form-control" ng-model="vm.reportTitle" placeholder="Title">

                <label>Enter comments:</label>
                <textarea rows="3" class="form-control" ng-model="vm.reportComments" placeholder="Comments"></textarea>
            
            </div>
            <div id="printArea">
                <h2>{{vm.reportTitle}}</h2>

                <div ng-if="vm.studyAreaService.selectedStudyArea">
                    <div class="row">
                        <div class="col-md-7"><strong>Region ID:</strong></div>
                        <div class="col-md-5">{{vm.studyAreaService.selectedStudyArea.RegionID}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7"><strong>Workspace ID:</strong></div>
                        <div class="col-md-5">{{vm.studyAreaService.selectedStudyArea.WorkspaceID}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7"><strong>Clicked Point (Latitude, Longitude):</strong></div>
                        <div class="col-md-5">{{vm.studyAreaService.selectedStudyArea.Pourpoint.Latitude.toFixed(5)}}, {{vm.studyAreaService.selectedStudyArea.Pourpoint.Longitude.toFixed(5)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7"><strong>Time:</strong></div>
                        <div class="col-md-5">{{vm.studyAreaService.selectedStudyArea.Date | date:'yyyy-MM-dd HH:mm:ss Z'}}</div>
                    </div>
                    
                    <leaflet id="reportMap" width="100%" height="400px" layers="vm.layers" geojson="vm.geojson" geojson-nested="true" center="vm.center" defaults="vm.defaults"></leaflet><br />
                </div>

                <br />
                <div ng-if="vm.reportComments != 'Some comments here'">
                    <p>{{vm.reportComments}}</p>
                </div>

                <div ng-show="vm.showReport">
                    <!-- Parameter table -->
                    <div class="well well-sm">
                        <h3>Design, flow and channel geometry characteristics</h3>
                        <table id="mainParamTable" class="mainParamTable table table-condensed">
                            <thead class="param-table">
                                <tr>
                                    <th>Parameter</th>
                                    <th>Value</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="parameter in vm.studyAreaService.studyAreaParameterList">
                                    <td ng-bind="parameter.code"></td>
                                    <td>{{parameter.value == -99999 ? 'undefined' : parameter.value}}</td>
                                    <td ng-bind="parameter.unit"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Parameter table -->
                    <div class="well well-sm">
                        <h3>Hydraulic Model Values</h3>
                        <table id="mainParamTable" class="mainParamTable table table-condensed">
                            <thead class="param-table">
                                <tr>
                                    <th>Parameter Code</th>
                                    <th>Value</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="parameter in vm.studyAreaService.studyAreaParameterList">
                                    <td ng-bind="parameter.code"></td>
                                    <td>{{parameter.value == -99999 ? 'undefined' : parameter.value}}</td>
                                    <td ng-bind="parameter.unit"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Parameter table -->
                    <div class="well well-sm">
                        <h3>MA Stream Crossing Standards</h3>
                        <table id="mainParamTable" class="mainParamTable table table-condensed">
                            <thead class="param-table">
                                <tr>
                                    <th>Standard</th>
                                    <th>Requirement</th>
                                    <th>Meets SCS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="parameter in vm.studyAreaService.studyAreaParameterList">
                                    <td ng-bind="parameter.code"></td>
                                    <td ng-bind="parameter.description"></td>
                                    <td ng-bind="parameter.unit"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--Study Area Disclaimers-->
                    <div class="well well-sm" ng-show="vm.canShowDisclaimers">
                        <h3>General Disclaimers</h3>
                    </div>

                <div class="disclaimerReport">
                    <p>
                        USGS Data Disclaimer:
                        Unless otherwise stated, all data, metadata and related materials are considered to satisfy the quality standards relative to the purpose for which the data were collected. Although these data and associated metadata have been reviewed for accuracy and completeness and approved for release by the U.S. Geological Survey (USGS), no warranty expressed or implied is made regarding the display or utility of the data for other purposes, nor on all computer systems, nor shall the act of distribution constitute any such warranty.
                    </p>
                    <p>
                        USGS Software Disclaimer:
                        This software has been approved for release by the U.S. Geological Survey (USGS). Although the software has been subjected to rigorous review, the USGS reserves the right to update the software as needed pursuant to further analysis and review. No warranty, expressed or implied, is made by the USGS or the U.S. Government as to the functionality of the software and related material nor shall the fact of release constitute any such warranty. Furthermore, the software is released on condition that neither the USGS nor the U.S. Government shall be held liable for any damages resulting from its authorized or unauthorized use.
                    </p>
                    <p>
                        USGS Product Names Disclaimer:
                        Any use of trade, firm, or product names is for descriptive purposes only and does not imply endorsement by the U.S. Government.
                    </p>
                    <p>
                        <span>Application Version: {{vm.AppVersion}}</span>
                        <span ng-show="vm.environment == 'development'">[Development Version: Not for public consumption]</span><br>
                        <span>StreamStats Services Version: {{vm.SSServicesVersion}}</span>
                        <span ng-show="vm.environment == 'development'">[Development Version: Not for public consumption]</span><br>
                        <span>NSS Services Version: {{vm.NSSServicesVersion}}</span>
                        <span ng-show="vm.environment == 'development'">[Development Version: Not for public consumption]</span>
                    </p>


                </div>
            </div>

            <div id="downloadButtons" class="hidden-print">
                <div class="btn-group wim-btn-group" dropdown is-open="status.isopen">
                  <button type="button" class="btn-black" dropdown-toggle ng-disabled="disabled">
                      <i class='fa fa-download'></i>&nbsp;&nbsp;Download<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="#" ng-click="vm.downloadGeoJSON()" analytics-on analytics-event="Download" analytics-category="Report" analytics-label="GeoJSON"><span class="fa fa-download"></span>&nbsp;&nbsp;GeoJSON</a></li>
                      <li><a href="#" ng-click="vm.isFlowTableOpen = true; vm.isExceedanceTableOpen = true; vm.downloadCSV()" analytics-on analytics-event="Download" analytics-category="Report" analytics-label="CSV"><span class="fa fa-download"></span>&nbsp;&nbsp;CSV</a></li>
                      <li><a href="#" ng-click="vm.downloadShapeFile()" analytics-on analytics-event="Download" analytics-category="Report" analytics-label="ShapeFile"><span class="fa fa-download"></span>&nbsp;&nbsp;ShapeFile</a></li>
                      <li><a href="#" ng-click="vm.downloadKML()" analytics-on analytics-event="Download" analytics-category="Report" analytics-label="KML"><span class="fa fa-download"></span>&nbsp;&nbsp;KML</a></li>
                  </ul>
                </div>
            </div>
        </div>
       
    </div>
    <div class="modal-footer hidden-print">
        <div class="btn-group">
            <button class="btn-black" ng-click="vm.close()"><i class="fa fa-close"></i>&nbsp;&nbsp;Close</button>
            <button class="btn-blue" ng-click="vm.print()" analytics-on analytics-event="Print" analytics-category="Report" analytics-label="Print"><i class="fa fa-print"></i>&nbsp;&nbsp;Print</button>
        </div>
    </div>
    
</div>