<!-- Envelope Curve Modal -->
<div id="print-content"> 
    <div class="modal-header">
        <div class="visible-print identifier">
            <img src="images/usgs-logo-black.png" alt="USGS Identifier" title="USGS Science for a Changing World" />
        </div>
            <button type="button" class="close hidden-print" ng-click="vm.Close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Envelope Curve</h4>
    </div>   
    <div id="printArea" class="modal-body">
        <div class="well well-sm" style="background-color:#EBF0F5;">
            Select Region to Query Stations: <select id="regionSelect" style="width:31%; text-align-last:center; margin-top: 5px;" name="regionSelect" ng-model="vm.selectedFloodFreqStats" ng-options="floodFreqStat.name for floodFreqStat in vm.allFloodFreqStats" ng-change="vm.chooseFloodStats()" ng-disabled="vm.showFloodStats == false"></select><br>              
        </div>
        <div ng-if="vm.formattedPlotData.length === 0" class="panel panel-default reportSpinner">
            &nbsp;<i class="fa fa-spinner fa-3x fa-spin loadingSpinner"></i>
        </div>
        <div class="well well-sm" style="background-color:#EBF0F5;" ng-if="vm.formattedPlotData.length > 0">
            <highchart id="chart1" config="vm.envelopeChartConfig">chart</highchart>
        </div>
    </div>
    <div class="modal-footer hidden-print">
        <div class="btn-group">
            <button class="btn-wim-default" ng-click="vm.Close()"><i class="fa fa-close"></i>&nbsp;&nbsp;Close</button>
        </div>
    </div>
</div>