<div>
    <!-- Modal -->
    <div class="modal-header">        
        <h4 class="modal-title">{{vm.title}}</h4>
    </div>
    <div class="modal-body">
        <form ng-if="vm.dateRange" name="dateForm">
            <div class="form-group">
                <!-- https://github.com/fragaria/angular-daterangepicker -->
                <h5>Select/Enter a date range.<small style="color:red">&nbsp;&nbsp;(Required)</small></h5>
                <input id="dateSimple" date-range-picker class="form-control date-picker" type="text" ng-model="vm.dateRange.dates" min="vm.dateRange.minDate" max="vm.dateRange.maxDate" options="vm.dateRangeOptions" />
            </div>
        </form>
        <form style="padding: 5px 0;" ng-if="vm.usePublishedFDC != undefined">
            <checkbox id="fdcCheck" large ng-model="vm.usePublishedFDC"></checkbox><span>&nbsp;&nbsp;Use Published Flow Duration Curve</span>
        </form>

        <div ng-if="vm.selectedReferenceGage" class="form-group">
            <h5>Select/Enter a reference gage.<small style="color:red">&nbsp;&nbsp;(Required)</small></h5>

            <span>
                
                <button class="btn-exploration-tools btn-green" ng-click="vm.setReferenceGageFromMap()" ng-disabled="vm.isBusy"><span><i ng-class=" vm.isBusy? 'fa fa-refresh fa-spin':'fa fa-map-marker'"></i>&nbsp;&nbsp;Select from Map</span></button>
                <button class="btn-exploration-tools btn-green" ng-click="vm.setBestCorrelatedReferenceGage()" ng-disabled="vm.isBusy"><span><i ng-class="vm.isBusy? 'fa fa-crosshairs fa-spin':'fa fa-crosshairs'"></i>&nbsp;&nbsp;Best Correlated</span></button>
                <button class="btn-exploration-tools btn-green" ng-click="vm.getNearest = !vm.getNearest" ng-disabled="vm.isBusy"><span><i ng-class="vm.isBusy? 'fa fa-crosshairs fa-spin':'fa fa-map-marker'"></i>&nbsp;&nbsp;Query Nearest Gages</span></button>
                <!-- TODO: add option to enter gage number -->

                <div ng-if="vm.getNearest" id="nearestGages">
                    <h3 class="panel-title">Query Nearest Gages<small>Query StreamStats Gages near the pourpoint (a) within a radius or (b) within a distance on the network</small></h3>
                    <div class="panel-confitem-wrapper">
                        <!-- nearest gage functionality-->
                        <div class="panel-confitem">
                            <h5>Query By:</h5>
                            <div> 
                                <div>
                                    <label class="rdo">
                                        <input type="radio" value="Nearest" ng-model="vm.queryBy"/>
                                        <span>Radius</span>
                                    </label>
                                    <label class="rdo">
                                        <input type="radio" value="Network" ng-model="vm.queryBy"/>
                                        <span>Distance on Network</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="panel-confitem">
                            <h5>Distance (km):</h5>
                            <div>
                                <div class="input-group">
                                    <input type="number" class="form-control" name="distanceValue" ng-model="vm.distance">

                                </div>
                            </div>
                        </div>

                        <div>
                            <button id="nearestGageButton" ng-click="vm.getNearestGages()" type="button" class="btn-green"><i class="fa fa-check-circle-o"></i>&nbsp;&nbsp;Go</button>
                        </div>
                    </div>
                    
                </div>

                <div ng-show="vm.referenceGageList.length > 0 || vm.selectedReferenceGage.StationID !== ''">
                    <table class="table table-striped">
                        <thead>
                            <th>Station Number</th>
                            <th>Station Name</th>
                            <th>Station Type</th>
                            <th>Is Regulated?</th>
                            <th>Drainage Area</th>
                            <th>Has Flow Duration Stats?</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr ng-if="vm.referenceGageList.length > 0" ng-repeat="gage in vm.referenceGageList" ng-style="vm.getStyling(gage)" title="{{gage.hasOwnProperty('correlation')? 'Correlation: ' + gage.correlation.toUSGSvalue():''}}">
                                <div>
                                    <td><a title="Show Gage Page" ng-click="vm.openGagePage(gage.StationID)">{{gage.StationID}}</a></td>
                                    <td ng-click="vm.selectGage(gage)">{{gage.properties.Name ? gage.properties.Name : gage.Name}}</td>
                                    <td>{{gage.properties.StationType.name ? gage.properties.StationType.name : 'NA'}}</td>
                                    <td>{{gage.properties.IsRegulated != undefined ? gage.properties.IsRegulated : 'NA'}}</td>
                                    <td>{{gage.properties.DrainageArea ? gage.properties.DrainageArea : 'NA'}}</td>
                                    <td>{{gage.properties.HasFlowDurationStats ? gage.properties.HasFlowDurationStats : 'NA'}}</td>
                                    <td ng-if="gage.StationID != this.selectedReferenceGage.StationID"><a  ng-click="vm.selectGage(gage)">Select Gage</a></td>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </span>

        </div>


    </div>
            <div class="modal-footer  hidden-print">
                <div class="btn-group">
                    <button ng-disabled="vm.isBusy" class="btn-wim-default" ng-click="vm.ok()"><i class="fa fa-close"></i>&nbsp;&nbsp;Ok</button>
                </div>
            </div>
        </div>