<div>
    <!-- Modal -->
    <div class="modal-header">        
        <h4 class="modal-title">{{vm.title}}</h4>
    </div>
    <div class="modal-body">
        <form ng-if="vm.dateRange" name="dateForm">
            <div class="form-group">
                <!-- https://github.com/fragaria/angular-daterangepicker -->
                <h5>Select/Enter a date range.<small style="color:red">&nbsp;&nbsp;(Required)</small></h5>
                <input id="dateSimple" date-range-picker class="form-control date-picker" type="text" ng-model="vm.dateRange.dates" min="vm.dateRange.minDate" max="vm.dateRange.maxDate" options="vm.dateRangeOptions" />
            </div>
        </form>

        <div ng-if="vm.selectedReferenceGage" class="form-group">
            <h5>Select/Enter a reference gage.<small style="color:red">&nbsp;&nbsp;(Required)</small></h5>

            <div class="btn-group btn-wim-group-1 wim-dropdown" dropdown is-open="status.isopen">
                <button type="button" class="btn-wim-default" dropdown-toggle ng-disabled="disabled">
                    <i class='fa fa-download'></i>&nbsp;&nbsp;{{vm.selectedReferenceGage.StationID}} {{vm.selectedReferenceGage.Name}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="item in vm.referenceGageList"><a ng-click="vm.selectedReferenceGage = item" title="{{item.hasOwnProperty('correlation')? 'Corrilation: ' + item.correlation:''}}">({{item.StationID}}) {{item.Name}}</a></li>
                </ul>
            </div>

            <!--<div ng-repeat="modified_configuration in vm.explorationService.selectedMethod.navigationConfiguration">
                <h6 ng-show="modified_configuration.name === configuration.name">Latitude: {{modified_configuration.value.coordinates[1]}} Longitude: {{modified_configuration.value.coordinates[0]}} </h6>
            </div>-->
            <button class="btn-exploration-tools btn-green" ng-click="vm.addReferanceGageFromMap()"><span><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Select from Map</span></button>

        </div>


    </div>
            <div class="modal-footer  hidden-print">
                <div class="btn-group">
                    <button class="btn-wim-default" ng-click="vm.ok()"><i class="fa fa-close"></i>&nbsp;&nbsp;Ok</button>
                </div>
            </div>
        </div>