<leaflet layers="vm.layers" center="vm.center" controls="vm.controls" markers="vm.markers" defaults="vm.mapDefaults" bounds="vm.bounds" ng-style="{cursor:vm.cursorStyle}">
    <!--<i id="loadingSpinner" class="fa fa-spinner fa-5x fa-spin"></i>-->    
    <!--<layercontrol order="normal" icons="vm.layercontrol.icons" title="Layer Manager" base-title="Base Layers" overlays-title="Overlays Layers"></layercontrol>-->
</leaflet>
<div class="map-position leaflet-bottom leaflet-left">
    <span>Zoom Level: {{vm.center.zoom}}</span> <br/>
    <span id="mapscale">Map Scale: 1:{{vm.nomnimalZoomLevel}}</span> <br/>
    <span>Lat: {{(vm.mapPoint.lat).toFixed(4)}}, Lon: {{(vm.mapPoint.lng).toFixed(4)}}</span>
</div>