<div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle pull-left visible-sm visible-xs"><i class="fa fa-bars fa-2x"></i></div>
<a class="navbar-brand" href="https://www.usgs.gov"><img src="images/usgs-logo.png"></a>
<span class="app-name">{{vm.appTitle}}</span>
<button id="reportButton" class="btn-default navbar-btn pull-right navBarButton" ng-click="vm.openReport()"><i class="fa fa-book"></i><span class="hidden-xs">&nbsp;&nbsp;Report</span></button>
<button id="aboutButton" class="btn-default navbar-btn pull-right navBarButton" ng-click="vm.openAbout()"><i class="fa fa-info"></i><span class="hidden-xs">&nbsp;&nbsp;About</span></button>
<button id="helpButton" class="btn-default navbar-btn pull-right navBarButton" ng-click="vm.openHelp()"><i class="fa fa-question"></i><span class="hidden-xs">&nbsp;&nbsp;Help</span></button>