<div >
    <button id="aboutButton" type="button" class="btn btn-default navbar-btn pull-right" style="margin-right:15px"><i class="fa fa-question-circle"></i><span class="hidden-xs">&nbsp;&nbsp;About</span></button>
    <button id="aboutButton" type="button" class="btn btn-default navbar-btn pull-right" style="margin-right:15px"><i class="glyphicon glyphicon glyphicon-book"></i><span class="hidden-xs">&nbsp;&nbsp;Report</span></button>
    <a class="navbar-brand" href="http://www.usgs.gov"><img src="Assets/images/usgs-logo.png"></a>
</div>

