<div id="print-content">   
    <style>
    @media print{
        body * {
            visibility: hidden;
        }
        .hidden-print {
            display: none !important;
        }
        #print-content * {
            visibility: visible;
        }
        .modal{
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            padding-right:20px;
            /*padding: 0;*/
            min-height:550px;
            visibility: visible;
            /**Remove scrollbar for printing.**/
            overflow: visible !important;
        }
        .modal-dialog {
            
            width: 100%;
            padding: 0;
            margin:20px;
                
            visibility: visible !important;
            /**Remove scrollbar for printing.**/
            overflow: visible !important;
        }
        .modal-footer {
            border-top:0;
        }
        .leaflet-control-container{
            display: none!important;
        }
    }

    </style>

    <!-- Modal -->
    
    <div class="modal-header hidden-print">
        <button type="button" class="close" ng-click="vm.close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Report</h4>
    </div>
    <div class="modal-body" >
     <div ng-hide="vm.studyAreaService.selectedStudyArea">A study area is needed before viewing the report</div>   
     <div ng-show="vm.studyAreaService.selectedStudyArea">
            <div class="form-group hidden-print">

                <div class="wim-alert-info" >Enter a report title and/or comments here that will display on the printed report.  Use the print button below.</div>
 
                <label >Enter report title:</label>
                <input type="text" class="form-control" ng-model="vm.reportTitle" placeholder="Title">

                <label>Enter comments:</label>
                <textarea rows="3" class="form-control" ng-model="vm.reportComments" placeholder="Comments"></textarea>
            
            </div>
            <div id="printArea">
            
                <h2>{{vm.reportTitle}}</h2>
            
                <div ng-if="vm.studyAreaService.selectedStudyArea">
                    <dl class="dl-horizontal">
                        <dt>Region ID:</dt><dd>{{vm.studyAreaService.selectedStudyArea.RegionID}}</dd>
                        <dt>Workspace ID:</dt><dd>{{vm.studyAreaService.selectedStudyArea.WorkspaceID}}</dd>
                        <dt>Clicked Point (Latitude, Longitude):</dt><dd>{{vm.studyAreaService.selectedStudyArea.Pourpoint.Latitude.toFixed(5)}},{{vm.studyAreaService.selectedStudyArea.Pourpoint.Longitude.toFixed(5)}}</dd>
                        <dt>Time:</dt><dd>{{vm.studyAreaService.selectedStudyArea.Date | date:'yyyy-MM-dd HH:mm:ss Z'}}</dd>
                    </dl>

                    <leaflet width="100%" height="400px" layers="vm.layers" center="vm.center"></leaflet><br />

                </div>

                <br/>
                <div ng-if="vm.reportComments != 'Some comments here'">
                    <p>{{vm.reportComments}}</p>
                </div>

                <!--Parameter Table if just basin chars-->
                <div class="well well-sm" ng-show="vm.nssService.showBasinCharacteristicsTable">
                    <h4>Basin Characteristics</h4>
                    <table class="table table-condensed">
                        <thead class="param-table">
                            <tr>
                                <th>Parameter Code</th>
                                <th>Parameter Description</th>
                                <th>Value</th> 
                                <th ng-show="vm.studyAreaService.Disclaimers.isRegulated">Unregulated Value</th>
                                <th ng-show="vm.studyAreaService.Disclaimers.isRegulated">Regulated Value</th>
                                <th>Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="parameter in vm.studyAreaService.studyAreaParameterList">
                                <td ng-bind="parameter.name"></td>
                                <td ng-bind="parameter.description"></td>
                                <td ng-bind="parameter.value"></td>
                                <td ng-show="vm.studyAreaService.Disclaimers.isRegulated" ng-bind="parameter.unRegulatedValue.toFixed(2)"></td>
                                <td ng-show="vm.studyAreaService.Disclaimers.isRegulated" ng-bind="parameter.regulatedValue.toFixed(2)"></td>
                                <td ng-bind="parameter.unit"></td>
                            </tr>
                        </tbody>
                    </table> 
                </div>

                <!--Study Area Disclaimers-->  
                <div class="well well-sm" ng-show="vm.studyAreaService.Disclaimers.parametersEdited || vm.studyAreaService.Disclaimers.isRegulated || vm.studyAreaService.Disclaimers.isEdited || vm.studyAreaService.Disclaimers.isInExclusionArea">
                    <h4>General Disclaimers</h4>
                    <div class="wim-alert-danger" ng-show="vm.studyAreaService.Disclaimers.parametersEdited">Parameter values have been edited, computed flows may not apply.</div>
                    <div class="wim-alert-danger" ng-show="vm.studyAreaService.Disclaimers.isRegulated">This watershed is regulated, computed flows may not apply.</div>
                    <div class="wim-alert-danger" ng-show="vm.studyAreaService.Disclaimers.isEdited">This watershed has been edited, computed flows may not apply.</div>
                    <div class="wim-alert-danger" ng-show="vm.studyAreaService.Disclaimers.isInExclusionArea">This watershed is in an exclusion area.</div>
                </div>
            
                <!--Parameter Table for Flow Report-->
                <div class="well well-sm" ng-show="vm.nssService.showFlowsTable" ng-repeat="StatisticsGroup in vm.nssService.selectedStatisticsGroupList">


                    <div ng-repeat="RegressionRegion in StatisticsGroup.RegressionRegions" ng-hide="RegressionRegion.Name == 'Area-Averaged'">
                        <h4>{{StatisticsGroup.Name}} Parameters<small>&nbsp;&nbsp;{{RegressionRegion.PercentWeight.toFixed(0)}} Percent {{RegressionRegion.Name.split("_").join(" ")}}</small></h4>
                        <table class="table table-condensed">
                            <thead class="param-table">
                            <tr>
                                <th>Parameter</th>
                                <th>Value</th> 
                                <th>Min Limit</th>
                                <th>Max Limit</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="parameter in RegressionRegion.Parameters">
                                    <td ng-bind="parameter.Name"></td>
                                    <td ng-bind="parameter.Value" ng-class="(parameter.Value < parameter.Limits.Min) || (parameter.Value > parameter.Limits.Max) ? 'danger' : ''"></td>
                                    <td ng-bind="parameter.Limits.Min.toFixed(2)"></td>
                                    <td ng-bind="parameter.Limits.Max.toFixed(2)"></td>
                                </tr>
                            </tbody>
                        </table>

                        <!--Scenario Disclaimers-->
                        <div ng-show="StatisticsGroup.Disclaimers.Warnings || StatisticsGroup.Disclaimers.Errors">
                            <h4>{{StatisticsGroup.Name}} Disclaimers<small>&nbsp;&nbsp;{{RegressionRegion.PercentWeight.toFixed(0)}} Percent {{RegressionRegion.Name.split("_").join(" ")}}</small></h4>
                            <div class="wim-alert-danger"  ng-repeat="headerMsg in StatisticsGroup.Disclaimers">{{headerMsg}}</div> 
                        </div>
                    </div>



                    <!--Flow Report-->
                    <h4>{{StatisticsGroup.Name}} Flow Report</h4>
                    <table class="table table-condensed">
                        <thead class="param-table">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th> 
                            <th>Unit</th>
                            <th>Prediction Error</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="RegressionRegion in StatisticsGroup.RegressionRegions">
                            <tr ng-repeat="parameter in RegressionRegion.Results">
                                <td>{{parameter.Name}} <small>&nbsp;&nbsp;[{{RegressionRegion.PercentWeight.toFixed(0)}} Percent {{RegressionRegion.Name.split("_").join(" ")}}]</small></td>
                                <td ng-bind="parameter.Value.toFixed(0)"></td>
                                <td ng-bind="parameter.Unit.Abbr"></td>
                                <td ng-bind="(parameter.Errors[0].Value) ? parameter.Errors[0].Value : '--'"></td>   <!--  SHOW SOME DASHES IF ERROR IS BLANK -->
                            </tr>
                        </tbody>
                    </table>
 

                    <h4>{{StatisticsGroup.Name}} Citations</h4>
                    <div ng-repeat="citation in StatisticsGroup.Citations">
                        <a href="{{citation.CitationURL}}" target="_blank">{{citation.Author}}{{citation.Title}}</a>
                    </div>

                </div>
            </div>

            <div id="downloadButtons" class="hidden-print">
                <div class="btn-group">
                    <button type="button" class="btn-wim-sm btn-wim-default dropdown-toggle" ui-turn-on='downloadBasinDropdown' ><span class="fa fa-download"></span>&nbsp;&nbsp;Download Basin</button>
                    <ul 
                    class="dropdown-menu"
                    ui-outer-click="Ui.turnOff('downloadBasinDropdown')"
                    ui-outer-click-if="Ui.active('downloadBasinDropdown')"
                    role="menu"
                    ui-show="downloadBasinDropdown" 
                    ui-state="downloadBasinDropdown"
                    ui-turn-off="downloadBasinDropdown">

                    <li><a href="{{vm.studyAreaService.servicesURL}}/streamstatsservices/download?workspaceID={{vm.studyAreaService.selectedStudyArea.WorkspaceID}}&format=Shape" analytics-on analytics-event="Download" analytics-category="Report" analytics-label="Shapefile">Shapefile</a></li>
                    <li><a href="{{vm.studyAreaService.servicesURL}}/streamstatsservices/download?workspaceID={{vm.studyAreaService.selectedStudyArea.WorkspaceID}}" analytics-on analytics-event="Download" analytics-category="Report" analytics-label="File GDB">ESRI File GDB</a>
                    </li>
                    </ul>
                </div>
                <button type="button" class="btn-wim-sm btn-wim-default" ng-click="vm.downloadCSV()" ><span><i class="fa fa-download"></i>&nbsp;&nbsp;Download CSV</span></button>
            </div>
        </div>
       
    </div>
    <div class="modal-footer hidden-print">
        <div class="btn-group">
            <button class="btn-wim-default" ng-click="vm.close()"><i class="fa fa-close"></i>&nbsp;&nbsp;Close</button>
            <button class="btn-wim-default" ng-click="vm.print()" analytics-on analytics-event="Print" analytics-category="Report" analytics-label="Print"><i class="fa fa-print"></i>&nbsp;&nbsp;Print</button>
        </div>
    </div>
    
</div>