
<table class="table borderless">

    <thead>
        <tr ng-click="vm.toggleSideBar()">
            <th><a href="" role="tab"><i id="chevron" ng-class="vm.sideBarCollapsed ? 'glyphicon glyphicon-chevron-right': 'glyphicon glyphicon-chevron-left'"></i></a></th>
            <th><i class="fa fa-leaf"></i></span>&nbsp;&nbspStreamStats <small>a great new app</small></th>
        </tr>
    </thead>

    <tbody>
        <!--  step 1 Select a State/Region -->
        <tr ng-click="vm.setProcedureType(1)" ng-class="vm.selectedProcedure == 1 ? 'activeitemheader accordion-toggle': 'accordion-toggle'">
            <td><a href="" role="tab"><span class="label label-default">1</span></a></td>
            <td><a href="#"><span class="step-label">&nbsp;Select a State / Region</span></a></td>
        </tr>
        <tr ng-class="vm.selectedProcedure != 1 ? 'collapse activeitem': 'activeitem'">
            <td></td>
            <td colspan="12" class="activeitem">
                <div class="accordian-body">
                    <p>To begin, search or use the map to select an area of interest, then select a region</p>
                                      
                    <input type="text" class="form-control"
                           ng-model="selection"
                           typeahead="loc as loc.Name +'(' + loc.State +')' for loc in vm.GetLocations($viewValue)"
                           typeahead-loading="loadingLocations"
                           typeahead-wait-ms="100"
                           typeahead-min-length="4"
                           typeahead-on-select="vm.onAOISelect($item); selection=''"
                           placeholder="Enter an area of interest" />
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        
                    <div class="form-group" ng-show="vm.regionList.length > 0">
                        <label> Select a Region</label>
                        <div ng-repeat="region in vm.regionList">
                            <button ng-class="region.Name === vm.sessionService.selectedRegion.Name ? 'btn btn-primary btn-group-justified':'btn btn-group-justified'" ng-click="vm.setRegion(region)"><span>{{region.Name}} </span></button>
                        </div>
                    </div> 
                              
                </div>
            </td>
        </tr>
        <!-- step 2 Identify a Study Area -->
        <tr ng-click="vm.setProcedureType(2)" ng-class="vm.selectedProcedure == 2 ? 'activeitemheader accordion-toggle': 'accordion-toggle'">
            <td><a href="#"><span class="label label-default">2</span></a></td>
            <td><a href="#"><span class="step-label">&nbsp;Identify a Study Area</span></td>
        </tr>
        <tr ng-class="vm.selectedProcedure != 2 ? 'collapse activeitem': 'activeitem'">
            <td></td>
            <td colspan="6">
                <div class="accordian-body">
                    <p>To identify a study area, zoom to at least a zoom level of 15 and select a blue stream cell</p>
                    <h4>OR</h4>
                    <!--<button id="PRMSmodel" class='btn btn-primary'<span>Use Iowa PRMS Model</span></button></br>-->

                    <div id="PRMSeditToolBar" class="btn-group" style="display:none;">
                        <button id="drawPolyline" type="button" class="btn btn-sm btn-default"><span class="leaflet-draw-draw-polyline"></span> Polyline</button>
                        <button id="drawPolygon" type="button" class="btn btn-sm btn-default"><span class="leaflet-draw-toolbar leaflet-draw-draw-polygon"></span> Polygon</button>
                        <button id="drawRectangle" type="button" class="btn btn-sm btn-default"><span class="leaflet-draw-toolbar leaflet-draw-draw-rectangle"></span> Rectangle</button>
                    </div>
                    <div id="verifyStudyArea" style="display:none;">
                        <br><p> Does the study area look correct?</p>
                        <div class="btn-group">
                            <button id="editButton" type="button" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                            <button id="undoButton" type="button" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-trash"></span> Clear</button>
                            <button id="saveChangesButton" type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok"></span> Accept</button>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        <!--  step 3 Select a Scenario -->
        <tr ng-click="vm.setProcedureType(3)" ng-class="vm.selectedProcedure == 3 ? 'activeitemheader accordion-toggle': 'accordion-toggle'">
            <td><a href="#"><span class="label label-default">3</span></a></td>
            <td><a href="#"><span class="step-label">&nbsp;Select a Scenario</span></a></td>
        </tr>
        <tr ng-class="vm.selectedProcedure != 3 ? 'collapse activeitem': 'activeitem'">
            <td></td>
            <td colspan="6">

                <div class="accordian-body">
                    <p>List of Scenarios</p>
                    <!--<div data-bind="foreach: ModelList" id="modelSelector">
                        <button data-bind="attr:{'class': $root.SelectedScenario() === ModelType? 'btn btn-primary btn-group-justified':'btn btn-default btn-group-justified'},  click: function() { $root.SelectedScenario(ModelType); $root.SelectModel($data); }"><span data-bind="text: Description"> </span></button>
                    </div>-->
                </div>
            </td>
        </tr>
        <!-- step 4 Refine Parameters -->
        <tr ng-click="vm.setProcedureType(4)" ng-class="vm.selectedProcedure == 4 ? 'activeitemheader accordion-toggle': 'accordion-toggle'">
            <td><a href="#" role="tab"><span class="label label-default">4</span></a></td>
            <td><a href="#"><span class="step-label">&nbsp;Select a Scenario</span></a></td>
        </tr>
        <tr ng-class="vm.selectedProcedure != 4 ? 'collapse activeitem': 'activeitem'">
            <td></td>
            <td colspan="6">
                <div class="accordian-body">
                    <div id="regions" data-bind="visible:SelectedModel().HasRegions">
                        <p>Select a region.</p>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary" data-bind="text:SelectedModel().SelectedRegion"></button>
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu" data-bind="foreach: SelectedModel().RegionList">
                                <li><a href="#" data-bind="event:{click: $root.SelectedModel().SelectedRegion($data)},text:$data"></a></li>
                            </ul>
                        </div>
                    </div>
                    <p>Refine parameters by editing fields.</p>
                    <div data-bind="foreach: SelectedModel().Parameters">
                        <div data-bind="attr: { 'class' : value.hasWarning() ? 'input-group warning' :'input-group' }">
                            <span class="input-group-addon btn-group-justified" data-bind="text: name, event: {hover: value}"></span>
                            <input class="form-control" data-bind="numeric, value: value" type="text">
                        </div>
                        <!--<span class="glyphicon glyphicon-warning-sign" style="color: red" data-bind='fadeVisible: value.hasWarning(), text: value.validationMessage()'></span>-->
                        <div class="alert alert-danger" style="padding:6px;font-size:10px;" role="alert" data-bind="fadeVisible: value.hasWarning()">
                            <i class="glyphicon glyphicon-warning-sign"></i><span data-bind='text: value.validationMessage()'></span>
                        </div>

                    </div>
                </div>
            </td>
        </tr>
        <!-- step 5 Build a Flow Report -->
        <tr ng-click="vm.setProcedureType(5)" ng-class="vm.selectedProcedure == 5 ? 'activeitemheader accordion-toggle': 'accordion-toggle'">
            <td><a href="#"><span class="label label-default">5</span></a></td>
            <td><a href="#"><span class="step-label">&nbsp;Build a Flow Report</span></a></td>
        </tr>
        <tr ng-class="vm.selectedProcedure != 5 ? 'collapse activeitem': 'activeitem'">
            <td></td>
            <td colspan="6">
                <div class="accordian-body">
                    <p>Select/Enter a start date and end date then select compute to generate flow report</p>
                    <hr class="headerUnderline" />
                    <!-- Split button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-primary" data-bind="text:SelectedModel().SelectedReferenceGage().StationID"></button>
                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <a style="padding:0.5em" target="_blank" data-bind="text: SelectedModel().SelectedReferenceGage().Name, attr:{href:SelectedModel().SelectedReferenceGage().URL }"></a>
                        <ul class="dropdown-menu" role="menu" data-bind="foreach: SelectedModel().ReferenceGageList">
                            <li><a href="#" data-bind="event:{click: $root.SelectedModel().SetReferenceGage($data)},text: Name"></a></li>
                        </ul>
                    </div>
                    <br />
                    <br />
                    <input class="form-control" placeholder="Select a Start Date" type="text" name="start" data-bind="datepicker: SelectedModel().StartDate, datepickerOptions: { startDate: SelectedModel().MinDateRange(), autoclose: true, todayHighlight:true, endDate: SelectedModel().MaxDateRange()}" />
                    <input class="form-control" placeholder="Select a End Date" type="text" name="end" data-bind="datepicker: SelectedModel().EndDate, datepickerOptions: { startDate: SelectedModel().MinDateRange(), autoclose: true, todayHighlight:true, endDate: SelectedModel().MaxDateRange()}" />
                    <br>
                    <button id="computeFlowButton" type="button" class="btn btn-sm btn-success" data-bind="event: {click: Compute()}"><span class="glyphicon glyphicon-ok"></span> Compute Flow</button>

                </div>
            </td>
        </tr>
    </tbody>
</table>




