<div class="scrollable sidebar-content">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="sidebar-item">
                <a ng-class="vm.selectedProcedure == 1  ? 'list-group-item-active': 'list-group-item'" ng-click="vm.setProcedureType(1)">Select a State / Region<div></div><h5 ng-show="vm.regionService.selectedRegion.Name"><strong>{{vm.regionService.selectedRegion.Name}}</strong><i ng-click="vm.openStatePage($event, vm.regionService.selectedRegion.Name)" class="fa fa-info-circle"></i></h5><i ng-class="vm.selectedProcedure == 1 ? 'fa fa-chevron-right pull-right': 'fa fa-chevron-down pull-right'"></i></a>
                <div class="list-group-body" ng-hide="vm.selectedProcedure != 1">
                   <div class="group-wrapper" ng-show="vm.regionService.selectedRegion">
                        <button class="btn-wim-sm btn-wim-success btn-wim-group-1" ng-click="vm.refreshWindow()"><span><i class="fa fa-undo"></i>&nbsp;&nbsp;Start Over</span></button>
                    </div>  

                   <div class="form-group" ng-show="vm.regionService.regionList.length > 0 && !vm.regionService.selectedRegion">
                        <div class="wim-alert">You have zoomed in sufficiently to select a state or regional study area.  Your selection will dictate the data used to perform basin delineation and flow statistics calculation.</div>
                        <label> Select a State or Regional Study Area Below</label>
                        <div ng-repeat="region in vm.regionService.regionList track by $index">
                            <div class="row">
                                <div class="col-md-9"><button ng-class="region.Name === vm.regionService.selectedRegion.Name ? 'btn-wim-info btn-group-justified':'btn-wim-sm btn-wim-success btn-group-justified'" ng-click="vm.setRegion(region)"><span>{{region.Name}} </span></button></div>
                                <div class="col-md-2">
                                    <button ng-click="vm.openStatePage($event, region.Name)" class="btn-wim-sm btn-wim-info"><i class="fa fa-info-circle"></i></button>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>

                    <div id="searchWrapper">
                        <div class="wim-alert">Use the map or the search tool identify an area of interest</div>

                        <div class="row">
                            <div class="col-md-9">

                                <div class="input-group">
                                  <div id="sapi_searchTextBoxDiv">Loading Search Bar...</div>
                                  <span class="input-group-btn">
                                    <button id="searchSubmit" class="btn-wim-sm btn-wim-success" type="button" ng-click="vm.startSearch($event)">Go!</button>
                                  </span>
                                </div><!-- /input-group -->
                                </div>
                            <div class="col-md-2"><button class="btn-wim-sm btn-wim-info" ng-click="vm.showSearchHelp = !vm.showSearchHelp"><i class="fa fa-question-circle"></i></button></div>
                        </div>
                        <div ng-init="vm.showSearchHelp = false" ng-show="vm.showSearchHelp">
                            <div class="wim-alert">
                                <h6 class="wim-list-header">Supported search strings:</h6>
                                <p>Use 'enter' key or "Go!" button to submit</p>
                                <ul>
                                    <li>GNIS locations</li>
                                    <li>USGS Sites</li>
                                    <li>Zip Codes</li>
                                    <li>Area Codes</li>
                                    <li>States</li>
                                    <li>Lat/Long (ie. '43.9,-72.1')</li>
                                    <li>Street Address</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="sidebar-item">
                <a ng-class="vm.selectedProcedure == 2  ? 'list-group-item-active': 'list-group-item'" ng-click="vm.setProcedureType(2)">Identify a Study Area<h5 ng-show="vm.studyAreaService.selectedStudyArea.Features"><strong>Basin Delineated</strong></h5><i ng-class="vm.selectedProcedure == 2 ? 'fa fa-chevron-right pull-right': 'fa fa-chevron-down pull-right'"></i></a>

                <div class="list-group-body" ng-show="vm.selectedProcedure == 2">

                    <div ng-hide="vm.studyAreaService.selectedStudyArea.Features || !vm.regionService.streamStatsAvailable">
                        <div class="wim-alert" ng-hide="vm.studyAreaService.showDelineateButton">Zoom in to level 15 or greater to enable the delineation tool</div>
                        <div class="wim-alert" ng-show="vm.studyAreaService.showDelineateButton">Click the 'Delineate' button, then use your mouse or finger to click or tap a blue stream cell on the map</div>
                    </div>

                    <!--<div class="wim-alert-warning" ng-hide="vm.regionService.streamStatsAvailable">StreamStats is not available here at this time</div>-->

                    <div class="group-wrapper" ng-hide="vm.studyAreaService.selectedStudyArea.Features">
                        <button id="delineateButton" type="button" class="btn-wim-sm btn-wim-success btn-wim-group-1" ng-click="vm.startDelineate()" ng-class="vm.studyAreaService.doDelineateFlag ? 'btn-wim-warning' : 'btn-wim-success'" ng-hide="vm.studyAreaService.selectedStudyArea.Features" ng-disabled="!vm.studyAreaService.canUpdate || vm.studyAreaService.checkingDelineatedPoint || !vm.studyAreaService.showDelineateButton"><i ng-class="vm.studyAreaService.canUpdate || vm.studyAreaService.checkingDelineatedPoint ? 'fa fa-map-marker' : 'fa fa-refresh fa-spin'"></i>&nbsp;&nbsp;<span ng-show="vm.studyAreaService.canUpdate">Delineate</span><span ng-show="!vm.studyAreaService.canUpdate">Delineating Basin</span></button>
                    </div>

                    <div class="wim-alert" ng-show="!vm.studyAreaService.regressionRegionQueryLoading && !vm.studyAreaService.regressionRegionQueryComplete && vm.studyAreaService.selectedStudyArea.Features"> The Regression region query failed, please use the "Re-query Regression Regions" button below to try again or click the "Continue" button if you would like to continue with limited functionality</div>
                    <div class="group-wrapper" ng-show="vm.studyAreaService.selectedStudyArea.Features && !vm.studyAreaService.regressionRegionQueryComplete">
                        <button type="button" class="btn-wim-sm btn-wim-success btn-wim-group-1" ng-click="vm.queryRegressionRegions()" ng-disabled="vm.studyAreaService.regressionRegionQueryLoading"><span ng-show="vm.studyAreaService.regressionRegionQueryLoading"><i ng-class="vm.studyAreaService.regressionRegionQueryLoading ? 'fa fa-refresh fa-spin' : ''"></i>&nbsp;&nbsp;Querying Regression Regions</span><span ng-show="!vm.studyAreaService.regressionRegionQueryLoading && !vm.studyAreaService.regressionRegionQueryComplete">Re-query Regression Regions</span></button>
                    </div>

                    <div ng-show="vm.studyAreaService.regressionRegionQueryComplete">

                        <div class="wim-alert">Your delineation is complete.  You can now clear your basin, edit your basin, or choose a state or regional study specific function (if available).  Click <strong>continue </strong>when you are ready.</div>

                        <div class="well well-sm" ng-show="vm.regionService.selectedRegion.Applications.length > 0">
                            <strong>State/Region Specific Functions</strong>
                            <p>The following additional functions area available for {{vm.regionService.selectedRegion.Name}}.</p>
                            <div class="group-wrapper">
                                <button ng-show="vm.regionService.selectedRegion.Applications.indexOf('Regulation') != -1" ng-click=" vm.checkRegulation()" type="button" class="btn-wim-sm btn-wim-info btn-wim-group-1" ng-disabled="!vm.studyAreaService.regulationCheckComplete"><i ng-class="vm.studyAreaService.regulationCheckComplete ? 'fa fa-flash' : 'fa fa-refresh fa-spin'"></i>&nbsp;&nbsp;Check for upstream regulation</button>
                                <button ng-show="vm.regionService.selectedRegion.Applications.indexOf('Wateruse') != -1" ng-click=" vm.OpenWateruse()" type="button" class="btn-wim-sm btn-wim-info btn-wim-group-1"><i class="fa fa-empire"></i>&nbsp;&nbsp;Check for Water Use</button>
                            </div>

                            <div class="wim-alert-success" ng-show="vm.studyAreaService.Disclaimers.isRegulated == true || vm.studyAreaService.Disclaimers.isRegulated == false">Upstream Regulation check has been completed.  There is <strong ng-show="vm.studyAreaService.Disclaimers.isRegulated">{{vm.studyAreaService.regulationCheckResults.percentarearegulated.toFixed(2)}} percent</strong><strong ng-show="!vm.studyAreaService.Disclaimers.isRegulated">NO</strong> regulation in this watershed.</div>
                        </div>

                        <div ng-hide="vm.studyAreaService.showEditToolbar">
                            <div class="group-wrapper">
                                <button id="clearDelinationButton" type="button" class="btn-wim-sm btn-wim-info btn-wim-group-1" ng-click="vm.resetWorkSpace()" ng-show="vm.studyAreaService.selectedStudyArea.Features" ng-disabled="!vm.studyAreaService.canUpdate"><span><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Clear Basin</span></button>
                            </div>
                            <div class="group-wrapper">
                                <button type="button" class="btn-wim-sm btn-wim-info btn-wim-group-1" ng-click="vm.studyAreaService.showEditToolbar = !vm.studyAreaService.showEditToolbar" ng-disabled="!vm.studyAreaService.canUpdate"><span class="fa fa-edit"></span>&nbsp;&nbsp;Edit Basin</button>
                            </div>
                            <div class="group-wrapper">
                                <button type="button" class="btn-wim-sm btn-wim-success btn-wim-group-1" ng-click="vm.selectScenarios()" ng-disabled="!vm.studyAreaService.canUpdate"><span class="fa fa-check-circle"></span>&nbsp;&nbsp;Continue</button>
                            </div>
                        </div>

                        <div class="well well-sm" ng-show="vm.studyAreaService.showEditToolbar">
                            <p>To edit your basin, first click the 'Add Area' or 'Remove Area' button below.  Use your mouse or finger to draw a polygon.</p><p>If <strong>adding</strong> an area be sure your drawn polygon starts and ends within the yellow basin boundaries</p><p>If <strong>removing</strong> an area, be sure your drawn polygon starts and ends outside of the yellow basin.</p>
                            <div class="group-wrapper">
                                <button type="button" class="btn-wim-sm btn-wim-info btn-wim-group-1" ng-click="vm.studyAreaService.editBasin('add')"><span class="fa fa-plus-square"></span>&nbsp;&nbsp;Add Area</button>
                            </div>
                            <div class="group-wrapper">
                                <button type="button" class="btn-wim-sm btn-wim-info btn-wim-group-1" ng-click="vm.studyAreaService.editBasin('remove')"><span class="fa fa-minus-square"></span>&nbsp;&nbsp;Remove Area</button>
                            </div>
                            <div class="group-wrapper">
                                <button type="button" class="btn-wim-sm btn-wim-warning btn-wim-group-1" ng-click="vm.studyAreaService.undoEdit()"><span class="fa fa-undo"></span>&nbsp;&nbsp;Undo Edits</button>
                            </div>
                            <div class="group-wrapper">
                                <button type="button" class="btn-wim-sm btn-wim-success btn-wim-group-1" ng-click="vm.submitBasinEdits()"><span class="fa fa-check"></span>&nbsp;&nbsp;Finished</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="sidebar-item">
                <a ng-class="vm.selectedProcedure == 3  ? 'list-group-item-active': 'list-group-item'" ng-click="vm.setProcedureType(3)">Select Scenarios<h5 ng-show="vm.studyAreaService.parametersLoaded"><strong>Basin Characteristics Calculated</strong></h5><i ng-class="vm.selectedProcedure == 3 ? 'fa fa-chevron-right pull-right': 'fa fa-chevron-down pull-right'"></i></a>

                <div class="list-group-body" ng-show="vm.selectedProcedure == 3">

                    <div class="wim-alert">Select a scenario below, or expand the "Basin Characteristics" panel to select specific basin characteristics. Next, click "Continue" to proceed.</div>

                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-7 col-md-offset-1"><h6>Regression Based Scenarios</h6></div>
                            <div class="col-md-3 "><button class="btn-wim-sm btn-wim-info" ng-click="vm.showScenarioHelp = !vm.showScenarioHelp"><i class="fa fa-question-circle"></i></button></div>
                        </div>

                        <div ng-init="vm.showScenarioHelp = false" ng-show="vm.showScenarioHelp">
                            <div class="wim-alert">Toggling these scenario buttons selects the necessary basin characteristics</div>
                        </div>

                        <div class="group-wrapper" ng-show="vm.nssService.statisticsGroupList.length == 0 && vm.regionService.selectedRegion.ScenariosAvailable">
                            <button type="button" class="btn-wim-sm btn-wim-info btn-wim-group-1" ng-click="vm.queryStatisticsGroupTypes()" ng-disabled="vm.nssService.loadingStatisticsGroup"><span ng-show="vm.nssService.loadingStatisticsGroup"><i ng-class="vm.nssService.loadingStatisticsGroup ? 'fa fa-refresh fa-spin' : ''"></i>&nbsp;&nbsp;Querying Scenarios</span><span ng-show="!vm.nssService.loadingStatisticsGroup">Re-query Scenarios</span></button>
                        </div>

                        <div class="wim-alert-warning" ng-show="vm.nssService.statisticsGroupList.length == 0"><span ng-show="vm.regionService.selectedRegion.ScenariosAvailable">Failed to load scenarios or no scenarios available</span><span ng-hide="vm.regionService.selectedRegion.ScenariosAvailable">Scenario computation has not been enabled yet for {{vm.regionService.selectedRegion.Name}}</span></div>

                        <div class="group-wrapper" ng-if="vm.nssService.statisticsGroupList.length > 0" ng-repeat="statisticsGroup in vm.nssService.statisticsGroupList">
                            <button class="btn-wim-sm btn-wim-default btn-wim-group-1" ng-class="vm.checkArrayForObj(vm.nssService.selectedStatisticsGroupList, statisticsGroup) != -1 ? 'btn-wim-info': ''" ng-click="vm.setStatisticsGroup(statisticsGroup)"><span>{{statisticsGroup.Name}} </span></button>
                        </div>
                    </div>

                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-7 col-md-offset-1"><h6>Basin Characteristics</h6></div>
                            <div class="col-md-3 "><button class="btn-wim-sm btn-wim-default" ng-click="vm.showBasinCharacterstics = !vm.showBasinCharacterstics"><i ng-hide="vm.showBasinCharacterstics" class="fa fa-chevron-down"></i><i ng-show="vm.showBasinCharacterstics" class="fa fa-chevron-up"></i></button></div>
                        </div>

                        <div ng-init="vm.showBasinCharacterstics = false" ng-show="vm.showBasinCharacterstics">
                            <div class="group-wrapper">
                                <button class="btn-wim-sm btn-wim-default btn-wim-group-1" ng-class="vm.multipleParameterSelectorAdd ? '': 'btn-wim-info'" ng-click="vm.multipleParameterSelector()"><span>Select All Basin Characteristics</span></button>
                            </div>
                            <table class="table table-condensed">
                                <tbody ng-repeat="parameter in vm.regionService.parameterList">
                                    <tr>
                                        <td><checkbox large ng-model="parameter.checked" ng-change="vm.updateStudyAreaParameterList(parameter)"></checkbox></td>
                                        <td><span>&nbsp;&nbsp;{{parameter.code}}</span></td>
                                        <td><span>&nbsp;&nbsp;{{parameter.description}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="wim-alert-warning" ng-show="vm.studyAreaService.studyAreaParameterList.length < 1">A scenario OR one or more basin characteristics from the dropdown above must be selected to continue</div>
                    </div>
                    <div class="group-wrapper">
                        <button type="button" class="btn-wim-sm btn-wim-success btn-wim-group-1" ng-click="vm.calculateParameters()" ng-disabled="vm.studyAreaService.parametersLoading || vm.nssService.loadingParametersByStatisticsGroup || vm.studyAreaService.studyAreaParameterList.length < 1"><i ng-class="vm.studyAreaService.parametersLoading ? 'fa fa-refresh fa-spin' : ''"></i><span ng-show="!vm.studyAreaService.parametersLoading">&nbsp;&nbsp;Continue</span><span ng-show="vm.studyAreaService.parametersLoading">&nbsp;&nbsp;Calculating Basin Characteristics...</span></button>
                    </div>
                </div>
            </div>

            <div class="sidebar-item">
                <a ng-class="vm.selectedProcedure == 4 ? 'list-group-item-active': 'list-group-item'" ng-click="vm.setProcedureType(4)">Build a Report<h5 ng-show="vm.nssService.reportGenerated"><strong>Report Built</strong></h5><i ng-class="vm.selectedProcedure == 4 ? 'fa fa-chevron-right pull-right': 'fa fa-chevron-down pull-right'"></i></a>

                <div class="list-group-body" ng-show="vm.selectedProcedure == 4">
                    <div class="wim-alert">You can modify computed basin characteristics here, then select the types of reports you wish to generate.  Then click the "Build Report" button</div>

                    <div class="group-wrapper">
                        <button class="btn-wim-sm btn-wim-default btn-wim-group-1" ng-click="vm.studyAreaService.showModifyBasinCharacterstics = !vm.studyAreaService.showModifyBasinCharacterstics"><span ng-hide="vm.studyAreaService.showModifyBasinCharacterstics "><i class="fa fa-chevron-down"></i>&nbsp;&nbsp;Show Basin Characteristics</span><span ng-show="vm.studyAreaService.showModifyBasinCharacterstics "><i class="fa fa-chevron-up"></i>&nbsp;&nbsp;Hide Basin Characteristics</span></button>
                    </div>

                    <div class="well well-sm" ng-init="vm.studyAreaService.showModifyBasinCharacterstics = false" ng-show="vm.studyAreaService.showModifyBasinCharacterstics">
                        <p>Basin Characteristics can be edited here</p>

                        <div class="group-wrapper" ng-show="vm.studyAreaService.requestParameterList.length > 0">
                            <button class="btn-wim-sm btn-wim-success btn-wim-group-1" ng-click="vm.calculateParameters()" ng-disabled="vm.studyAreaService.parametersLoading"><span><i ng-class="vm.studyAreaService.parametersLoading ? 'fa fa-refresh fa-spin' : 'fa fa-refresh'"></i>&nbsp;&nbsp;Caclulate Missing Parameters</span></button>
                        </div>

                        <table class="table table-condensed">
                            <thead class="param-table">
                                <tr>
                                    <th>Parameter Code</th>
                                    <th ng-hide="vm.studyAreaService.Disclaimers.isRegulated">Value</th>
                                    <th ng-show="vm.studyAreaService.Disclaimers.isRegulated">Unregulated</th>
                                    <th ng-show="vm.studyAreaService.Disclaimers.isRegulated">Regulated</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="parameter in vm.studyAreaService.studyAreaParameterList" ng-form="paramaterForm">
                                    <td ng-bind="parameter.name"></td>
                                    <td ng-hide="vm.studyAreaService.Disclaimers.isRegulated"><input class="form-control" ng-class="{notloaded:!parameter.loaded}" ng-change="vm.studyAreaService.Disclaimers.parametersEdited = true" ng-model="parameter.value" type="text" /></td>
                                    <td ng-show="vm.studyAreaService.Disclaimers.isRegulated"><input class="form-control" ng-change="vm.studyAreaService.Disclaimers.parametersEdited = true" ng-model="parameter.unRegulatedValue" type="text" /></td>
                                    <td ng-show="vm.studyAreaService.Disclaimers.isRegulated"><input class="form-control" ng-change="vm.studyAreaService.Disclaimers.parametersEdited = true" ng-model="parameter.regulatedValue" type="text" /></td>
                                    <!--<td ng-hide="parameter.loaded"><button class="btn-wim-sm btn-wim-success" ng-click="vm.calculateParameters()"><i class="fa fa-refresh"></i></button></td>-->
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="well well-sm">
                        <p>Select available reports to display:</p>
                        <form ng-init="vm.nssService.showBasinCharacteristicsTable = true" ng-show="vm.studyAreaService.parametersLoaded">
                            <checkbox large ng-model="vm.nssService.showBasinCharacteristicsTable"></checkbox><span>&nbsp;&nbsp;Basin Characteristics Report</span>
                        </form>
                        <form ng-show="vm.nssService.selectedStatisticsGroupList.length > 0">
                            <checkbox large ng-model="vm.nssService.showFlowsTable"></checkbox><span>&nbsp;&nbsp;Scenario Flow Reports</span>
                        </form>


                        <div class="group-wrapper" ng-show="vm.nssService.showBasinCharacteristicsTable || vm.nssService.showFlowsTable">
                            <button  ng-disabled="vm.studyAreaService.requestParameterList.length > 0" ng-click="vm.generateReport()" type="button" class="btn-wim-sm btn-wim-success btn-wim-group-1"><i ng-class="vm.nssService.canUpdate ? 'fa fa-flash' : 'fa fa-refresh fa-spin'"></i>&nbsp;&nbsp;Compute Scenarios</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="identification pull-right">powered by <a href="http://wim.usgs.gov/" target="_blank">WiM</a></div>
    </div>
</div>