
    <div class="angular-leaflet-control-layers">
    <h4 ng-if="title">{{ title }}</h4>
        <div class="list-group">
            <div>
                <a ng-class="vm.selectedProcedure == 1  ? 'list-group-item-active': 'list-group-item'" ng-click="vm.setProcedureType(1)">Base Maps
                <i ng-class="vm.selectedProcedure == 1 ? 'fa fa-chevron-up pull-right': 'fa fa-chevron-down pull-right'"></i></a>
                <!-- baselayers -->
                <div class="sitebar-item" ng-repeat="(key, layer) in vm.baselayers">
                    <label ng-click="vm.changeBaseLayer(key, $event)">
                        <input type="radio" name="baselayerRadio" ng-checked="$parent.vm.selectedBaselayerName === key.toString()" ng-value="key.toString()" /> {{layer.name}}
                        <i ng-class="layer.icon"></i>
                    </label>
                </div>
             </div>   
            <hr />
            <!-- overlay -->
            <div ng-repeat="layer in vm.overlays" ng-init="vm.initOverlays(layer)">
                <label ng-if="!layer.layerParams.showOnSelector && layer.layerParams.showOnSelector !== false" ng-click="layer.visible = (layer.visible) ? false : true;">
                    <input type="checkbox" ng-checked="layer.visible" /> {{layer.name}}
                    <div ng-if="layer.type == 'agsDynamic'">
                        <div ng-repeat="lyr in layer.layerArray ">
                            <label>{{lyr.layerName}}</label>
                            <div ng-repeat="leg in lyr.legend ">
                                <img alt="Embedded Image"
                                     src="data:{{leg.contentType}};base64,{{leg.imageData}}" />
                                <i>{{leg.label}}</i>

                            </div>
                        </div>
                    </div>
                </label>
            </div>
        </div>
</div>
  