/*
    ===========================
    ===========================
         General
    ===========================
    ===========================
*/

html, body, .angular-leaflet-map {
   padding: 0; 
   margin: 0;
   height: 100%;
   width: 100%;
   overflow-y:hidden;
   font-family: "Source Sans Pro", sans;
}
body {
    padding-top: 18px;
}

#toast-container > div {
   opacity: 1 !important; 
}

.btn-toolbar .btn {
    margin-bottom: 5px; 
}

#wim_logo {
    background: black none repeat scroll 0 0;
    border-radius: 5px;
    width: 45px;
}

#wim_logo:hover{
    background: blue none repeat scroll 0 0;
	opacity: 0.8;
	cursor: pointer;
}


/*
    ===========================
    ===========================
         Leaflet Overrides
    ===========================
    ===========================
*/

.leaflet-popup-content-wrapper,.leaflet-popup-content
 {
   -webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
    border-radius: 0 !important;
 }

.leaflet-control{
   -webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

div.leaflet-top:nth-child(2) > div:nth-child(1) {
    display:none;
}

.map-position {
    padding: 0px 4px;
    font-size:small;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom:50px;
    margin-left:9px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    z-index:99999;
}

.exploration-tools-collapsed {
    
    position: absolute;
    background: white;
    z-index: 100;
    left: 10px;
    top: 130px;
    box-shadow: 1px 1px 5px #333;
    padding: 15px;
    background-image: url(../images/tool-box.png);
    background-repeat: no-repeat;
    background-position: center;
	width: 36px;
	height: 36px;
}

.exploration-tools-expanded {
    position: absolute;
    background: white;
    z-index: 100;
    left: 10px;
    top: 130px;

    box-shadow: 1px 1px 5px #333;
    padding: 10px;
}

.leaflet-control-layers.leaflet-control {
    display: none;
}

.angular-leaflet-control-layers-collapsed {
    
    position: absolute;
    background: white;
    z-index: 100;
    right: 10px;
    top: 20px;
    box-shadow: 1px 1px 5px #333;
    padding: 15px;
    background-image: url(../images/layers.png);
    background-repeat: no-repeat;
    background-position: center;
	width: 36px;
	height: 36px;
}

.angular-leaflet-control-layers-expanded {
    position: absolute;
    background: white;
    z-index: 100;
    right: 10px;
    top: 20px;
    width: 200px;
    height:90%;
    box-shadow: 1px 1px 5px #333;
    padding: 5px;
    overflow-y:auto;
}

.angular-leaflet-control-layers-header {
    height: 30px;
}

.angular-leaflet-control-layers-close-button {
    margin-right:20px;  
}

.angular-leaflet-control-layers .lf-row label {
    cursor: pointer;
    width: 75%;
}

.angular-leaflet-control-layers .lf-row .lf-icon-ol {
    padding-left: 8px;
}

.angular-leaflet-control-layers .lf-row .lf-icon {
    cursor: pointer;
    float: left;
    margin-right: 5px;
    padding-top: 2px;
}

.angular-leaflet-control-layers .lf-row label .lf-text {
    float: left;
}

.angular-leaflet-control-layers .lf-row .lf-icon-ol-group {
    color: #00650a;
}

.angular-leaflet-control-layers .lf-row .lf-icons {
    float: right;
}

/*
    ===========================
    ===========================
         Navigation Bar
    ===========================
    ===========================
*/

.navbar-brand {
  padding:15px 20px;
}

.navbar-absolute-top {
    min-width: 700px;
}

    .navbar-app{
    background-color: #2D3146;
    }
    .navbar-brand{
    padding-top: 18px;
    }
    .app-name{
    position: relative;
    top:-2px;
    }

    .navBarButton{
    margin-top:12px;
    margin-right:12px;
    }
    .navBarButton:hover{
        cursor: pointer;
        color: rgba(255,255,255,1);
        transition: 0.2s;
    }
    .navBarButton:focus{
        outline: none;
    }

/*
    ===========================
    ===========================
     USGS Search API overrides
    ===========================
    ===========================
*/


.search-bar {
    margin:0px;
    padding-left:0px;
}

#sapi-searchTextBox {
    font-family: "Source Sans Pro", sans !important;
    width: 100% !important;
    height: 35px !important;
    padding: 6px 12px !important; 
    margin-left: 0px !important;
    border-radius: 2px !important;
}

.sapi .ui-autocomplete {
    font-family: "Source Sans Pro", sans !important;
    border-radius: 4px !important;
}

.sapi-autocomplete-title {
    font-family: "Source Sans Pro", sans !important;
    background-color : #2D3146 !important
}

.sapi-autocomplete-tip {
    font-family: "Source Sans Pro", sans !important;
}

.sapi-autocomplete-category {
    font-family: "Source Sans Pro", sans !important;
    background-color : #0071BC !important
}

.sapi-autocomplete-item {
    font-family: "Source Sans Pro", sans !important;
    font-weight: 200 !important;
}

.sapi-autocomplete-item {
    font-family: "Source Sans Pro", sans !important;
    font-weight: 200 !important;
}

.sapi-autocomplete-itemAnnotation {
    font-family: "Source Sans Pro", sans !important;
    font-weight: bold !important;
}


/*
    ===========================
    ===========================
             Sidebar
    ===========================
    ===========================
*/

.sidebar-content {
    margin-top:70px;
}

.well {
    margin-top:10px;
}

.sidebar{
  background-color: #ECEEF4;
}


.list-group-body {
    background-color:white;
    border-radius:0 0 5px 5px;
    padding-right:10px;
    padding-bottom:25px;
    padding-top: 10px;
    padding-left:10px;
    margin-bottom:3px;
    border:1px thin;
}
.list-group-body a {
    padding-left:10px;
    float:left;    
    height: 25px;
    width:100%;
    padding-right: 10px;
    overflow:hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.list-group-item{
  background-color: #E2E2E2;
  text-align: right;
  text-transform: uppercase;
  font-size: 10pt;
  box-sizing: border-box;
  padding: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #6E7490 !important;
  transition: 0.2s;
}
  .list-group-item i{
    padding-left: 5px;
    display: inline-block;
    text-align: center;
    width: 50px;
  }
  .list-group-item:hover{
    color:#000 !important;
    transition: 0.2s;
  }

    .dropdown-menu{
    max-height: 150px;
    width: 90%;
    /*overflow-y:scroll;*/ 
  }

/*Active sidebar item*/
.list-group-item-active{
    display: block;
    background-color: #0071BC;
    text-align: right;
    text-transform: uppercase;
    font-size: 10pt;
    box-sizing: border-box;
    padding: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #fff !important;
    transition: 0.2s;
}
    .list-group-item-active i{
      padding-left: 5px;
      display: inline-block;
      text-align: center;
      width: 50px;
      position: relative; top:3px;
    }
    .list-group-item-active:hover{
        text-decoration: none !important;
    }
.exploration-tools {
    background-color: #99b3e6;
    color: white !important;
}

/*Active small link inside*/
.list-group-item-link-active{
  color: RGBA(34, 45, 57, 1);
  font-weight:bolder;
}

/*Bottom WIM Identification*/
.identification{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9pt;
  display: block;
  width: 100%;
  margin: 0; padding: 0;
  padding-left: 8px;
  opacity: 0.75;
  text-align: center;
  color: #6E7490;
}

/*
    ===========================
    ===========================
        About and Help Modal
    ===========================
    ===========================
*/
.modal{
    overflow-y: auto;
}

.modal-title{
  color: #6E7490;
  padding-top: 0;
}
.modal-footer{
  text-align: center;
}
  .modal-footer p{
    text-align: center !important;
    margin: 0 auto !important;
    box-sizing: border-box;
    padding: 10px;
    font-size: 9pt;
    line-height: 1em;
  }

.modal-backdrop{
  /*background-color: #161C27;*/
}

.modal-dialog{
  width: 60%;
  box-sizing: border-box;
  padding: 25px;
  margin: 2% 20% 2% 20%;
  color: #000;
  letter-spacing: 1px;
  font-weight: 400;
}
  .modal-content{
    border-radius: 0;
  }
  .modal-content p{
    padding-top: 15px;
  }

  #disclaimer h3{
    margin-top: 15px;
    margin-bottom: 0;
  }
    #disclaimer p{
      font-size: 9pt;
    }

  #contact-form{
    margin-top: 15px;
  }

    #contact-form .well{
    margin-bottom: 0;
    /*background-color: #ECEEF4;*/
    border-radius: 0;
    border: none; box-shadow: none;
    box-sizing: border-box;
    padding: 15px;
    }
    #contact-form .well .form-group{
    padding: 0;
    }
    #contact-form .well label{
        font-size: 9pt;
        font-weight: 400;
        opacity: 0.5;
    }

    #contact-form input,
    #contact-form textarea{
        border-radius: 0;
    }
    #contact-form textarea{
        height: 150px;
    }

    .modal-backdrop.backdropZ {
    z-index: 9998 !important;
    }
    .modal.windowZ {
        z-index: 9999 !important;
    }


/*
    ===========================
    ===========================
           Mobile Styles
    ===========================
    ===========================
*/
.sidebar-toggle{
    position: relative;
    top:14px;
    color: #fff !important;
    opacity: 1;
    transition: 0.2s;
}
    .sidebar-toggle:hover{
        opacity: 0.55;
        transition:0.2s;
    }


@media only screen and (max-width: 740px) {
    .navbar-brand{
        margin-bottom: 20px;
    }

    .app-name{
        font-size: 14pt;
    }

    .navBarButton{
      top: 2px; right:10px;
      padding-left:4px;
    }

    .modal-dialog{
      width: 96%;
      box-sizing: border-box;
      padding: 25px;
      margin: 2% 2% 2% 2%;
      color: #000;
      letter-spacing: 1px;
      font-weight: 400;
      max-height: 96%;
    }

    .modal-body ul li a{
        font-size: 8pt;
        padding: 6px;
    }


    .modal-body p{
        font-size: 8pt;
    }

}

@media only screen and (max-width: 590px) {
    .navbar-brand{
        width: 150px;
        top: -1px;
        position: relative;
        padding: 20px 6px 20px 6px;
    }
        .navbar-brand img{
            margin-right: 2px;
        }

    .app-name{
        font-size: 12pt;
    }

    #aboutTabs li{
        width: 100%;
        margin: 0 auto;
        padding: 0;
        display: block;
    }
        #aboutTabs li a{
            border-radius: 20px;
            border: none;
            padding-bottom: 8px;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 5px;
            background-color: #ECEEF4;
            font-weight: bolder;
        }
            #aboutTabs li a:hover{
                background-color: #fff;
            }
    #aboutTabs .active a{
        background-color: #19232F !important;
        color: #fff;
        border: none;
    }

}

@media only screen and (max-width: 520px) {
    .navbar-brand{
        width: 120px;
        position: relative; top:-1px;
    }

    .app-name{
        max-width: 130px;
        line-height: 15px;
        padding-left: 6px;
        letter-spacing: 1px;
        font-weight: 400;
        display: inline-block;
        position: relative; top:12px;
        font-size: 10pt;
    }
}