@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

html, body, .angular-leaflet-map {
   padding: 0; 
   margin: 0;
   height: 100%;
   width: 100%;
   overflow-y:hidden;
}
body {
    padding-top: 18px;
}
.modal-backdrop.backdropZ {
    z-index: 9998 !important;
}
.modal.windowZ {
    z-index: 9999 !important;
}
.sidebar-content {
    margin-top:70px;
}
.navbar-brand {
  padding:15px 20px;
}
.navbar-absolute-top {
    min-width: 700px;
}

#toast-container > div {
   opacity: 1 !important; 
}

.btn-toolbar .btn {
    margin-bottom: 5px; 
}

.navbar{
    margin-top:-50px;
    width:100%;
    position:relative;
    margin-bottom:0px;
    
}
.list-group-body {
    background-color:white;
    border-radius:0 0 5px 5px;
    padding-bottom:25px;
    padding-top: 10px;
    padding-left:10px;
    margin-bottom:3px;
    border:1px thin;
}
.list-group-body a {
    padding-left:10px;
    float:left;    
    height: 25px;
    width:100%;
    padding-right: 10px;
    overflow:hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.fa-spinner {
	position: fixed;
	height: 15px;
	width: 30px;
	left: 50%;
	top: 50%;
}
.map-position {
    padding: 0px 4px;
    font-size:small;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom:50px;
    margin-left:9px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    z-index:99999;
}

#wim_logo {
    background: black none repeat scroll 0 0;
    border-radius: 5px;
    width: 45px;
}

#wim_logo:hover{
    background: blue none repeat scroll 0 0;
	opacity: 0.8;
	cursor: pointer;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}