/*
    ===========================
    ===========================
         Universal Styles
    ===========================
    ===========================
*/

body,
html{
  font-family: 'Lato', Helvetica, sans-serif;
}

*:focus{
    outline: none;
}

.scrollable{
    max-height: 100%;
    max-height: calc(100% - 70px);
}


a{
  color: #3C6DD1;
  text-decoration: none;
  transition: 0.2s;
}
  a:hover{
    color: #2b5ab9;
    transition:0.2s;
  }
  a:focus,
  a:active{
    text-decoration: none !important;
  }


  /*Headers for wells*/
  h4{
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 25px;
  }
    h4:nth-child(1){
      padding-top: 0;
    }

/*
    ===========================
    ===========================
         Navigation Bar
    ===========================
    ===========================
*/
.navbar-app{
    background-color: #161C27;
    background: -webkit-linear-gradient(90deg, #161C27 20%, #3A6073 220%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #161C27 20%, #3A6073 220%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #161C27 20%, #3A6073 220%); /* IE10 */
    background:      -o-linear-gradient(90deg, #161C27 20%, #3A6073 220%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #161C27 20%, #3A6073 220%); /* W3C */

}
  .navbar-brand{
    padding-top: 18px;
  }
  .app-name{
    position: relative;
    top:-2px;
  }

  .navBarButton{
    letter-spacing: 2px;
    position: relative; top: 2px;
    transition: 0.2s;
    color: rgba(255,255,255,0.35);
  }
    .navBarButton:hover{
      cursor: pointer;
      color: rgba(255,255,255,1);
      transition: 0.2s;
    }
    .navBarButton:focus{
        outline: none;
    }

/*
    ===========================
    ===========================
     USGS Search API overrides
    ===========================
    ===========================
*/


.search-bar {
    margin:0px;
    padding-left:0px;
}

#sapi-searchTextBox {
    font-family: 'Lato', Helvetica, sans-serif !important;
    width: 100% !important;
    height: 35px !important;
    padding: 6px 12px !important; 
    margin-left: 0px !important;
    border-radius: 4px !important;
}

.sapi .ui-autocomplete {
    font-family: 'Lato', Helvetica, sans-serif !important;
    border-radius: 4px !important;
}

.sapi-autocomplete-title {
    font-family: 'Lato', Helvetica, sans-serif !important;
    background-color : #161C27 !important
}

.sapi-autocomplete-tip {
    font-family: 'Lato', Helvetica, sans-serif !important;
}

.sapi-autocomplete-category {
    font-family: 'Lato', Helvetica, sans-serif !important;
    background-color : #3A7BD5 !important
}

.sapi-autocomplete-item {
    font-family: 'Lato', Helvetica, sans-serif !important;
    font-weight: 200 !important;
}

.sapi-autocomplete-item {
    font-family: 'Lato', Helvetica, sans-serif !important;
    font-weight: 200 !important;
}

.sapi-autocomplete-itemAnnotation {
    font-family: 'Lato', Helvetica, sans-serif !important;
    font-weight: bold !important;
}


/*
    ===========================
    ===========================
     USGS Search API overrides
    ===========================
    ===========================
*/

/*
    ===========================
    ===========================
             Sidebar
    ===========================
    ===========================
*/
.well {
    margin-top:10px;
}

.sidebar{
  background-color: #ECEEF4;
}

.list-group-body {
    padding-right:10px;
}

.list-group-item{
  background-color: #ECEEF4;
  text-align: right;
  text-transform: uppercase;
  font-size: 10pt;
  box-sizing: border-box;
  padding: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #6E7490 !important;
  transition: 0.2s;
}
  .list-group-item i{
    padding-left: 5px;
    display: inline-block;
    text-align: center;
    width: 50px;
  }
  .list-group-item:hover{
    color:#000 !important;
    transition: 0.2s;
  }

    .dropdown-menu{
    max-height: 150px;
    width: 90%;
    /*overflow-y:scroll;*/ 
  }
/*
  .list-group-body{
    position: relative; top: 21px !important;
    background-color: #fff;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    inset 0px 0px 10px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         inset 0px 0px 10px 0px rgba(50, 50, 50, 0.25);

    color: #222D39;
    top: 0 !important;
    box-sizing: border-box;
    padding: 25px 15px 35px 15px;
    border-radius: 0;
  }
    .list-group-body p{
      letter-spacing: 2px;
    }
    .list-group-body a{
      display: block;
      color: RGBA(34, 45, 57, 0.6);
      font-size: 12pt;
      letter-spacing: 2px;
      padding: 0 0 0 15px;
      font-weight: 400;
      width: auto;
      clear: both;
    }
      .list-group-body a:hover{
        transition:0.2s;
        text-decoration: none;
        color: RGBA(34, 45, 57, 1);
      }
      
      .list-group-body a:before{
        content: '\2022';
      }*/

/*Active sidebar item*/
.list-group-item-active{
    display: block;
    background-color: #3a7bd5;
    text-align: right;
    text-transform: uppercase;
    font-size: 10pt;
    box-sizing: border-box;
    padding: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #fff !important;
    transition: 0.2s;
}
    .list-group-item-active i{
      padding-left: 5px;
      display: inline-block;
      text-align: center;
      width: 50px;
      position: relative; top:3px;
    }
    .list-group-item-active:hover{
        text-decoration: none !important;
    }

/*Active small link inside*/
.list-group-item-link-active{
  color: RGBA(34, 45, 57, 1);
  font-weight:bolder;
}



/*Bottom WIM Identification*/
.identification{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9pt;
  display: block;
  width: 100%;
  margin: 0; padding: 0;
  padding-left: 8px;
  opacity: 0.75;
  text-align: center;
  color: #6E7490;
}







/*
    ===========================
    ===========================
         Blue Body Header
    ===========================
    ===========================
*/
/*
.ng-hide + div:nth-child(3){
    background-color: #3a7bd5;
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 35px;
    color:#fff;
    border: 1px solid #d4e2f1;
    border:none;
}
    .ng-hide + div:nth-child(3) h4{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 500;
        font-size: 12pt;
        margin-bottom: 3px;
    }
    .ng-hide + div:nth-child(3) .well{
        border: none;
        padding: 0;
        background-color: transparent;
        font-weight: lighter;
        margin-bottom: 0;
        font-size: 10pt;
    }
*/
/*Prevent blue on map*/
.leaflet-bottom,
.leaflet-left,
.leaflet-top,
.leaflet-right{
    /*background-color: transparent !important*/
}
.leaflet-control-container{
    background-color: red !important
}

.leaflet-popup-content {
    font-family: 'Lato', Helvetica, sans-serif !important;
}

.leaflet-control-layers-expanded  {
     font-family: 'Lato', Helvetica, sans-serif !important;
}

.map-position {
    font-family: 'Lato', Helvetica, sans-serif !important;
}

/*Add padding to body (except blue top header box)*/
.panel,
.page-header{
    padding: 25px !important;
}
.page-header + .well{
    margin-left: 25px; margin-right: 25px;
}



/*
    ===========================
    ===========================
         Body Content
    ===========================
    ===========================
*/
.home-view{
  padding-bottom: 35px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.app-body{
  background-color: #fff;
  font-family: 'Lato', sans-serif !important;
}
  .page-header h2{
    letter-spacing: 2px;
    font-weight: 900;
    color: #161C27;
    font-family: 'Lato', sans-serif !important;
  }

  .app-body .well{
    background-color: rgba(0,0,0,0.015);
    border: none;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #ECEEF4;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 11pt;
    line-height: 1.6em;
  }
    .app-body .well h3{
      font-weight: 700;
      font-size: 16pt;
      padding-top: 25px;
    }
      .app-body .well h3:nth-child(1){
        padding-top: 0;
      }
    .app-body .well p{
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 11pt;
      line-height: 1.6em;
    }




/*
    ===========================
    ===========================
           About Modal
    ===========================
    ===========================
*/
.modal{
    overflow-y: auto;
}
.modal-backdrop{
  background-color: #161C27;
}

.modal-dialog{
  width: 60%;
  box-sizing: border-box;
  padding: 25px;
  margin: 2% 20% 2% 20%;
  color: #000;
  letter-spacing: 1px;
  font-weight: 400;
}
  .modal-content{
    border-radius: 0;
  }
  .modal-content p{
    padding-top: 15px;
  }


  #disclaimer h3{
    margin-top: 15px;
    margin-bottom: 0;
  }
    #disclaimer p{
      font-size: 9pt;
    }

  #contact-form{
    margin-top: 15px;
  }
    #contact-form .well{
      margin-bottom: 0;
      background-color: #ECEEF4;
      border-radius: 0;
      border: none; box-shadow: none;
      box-sizing: border-box;
      padding: 15px;
    }
      #contact-form .well .form-group{
        padding: 0;
      }
        #contact-form .well label{
          font-size: 9pt;
          font-weight: 400;
          opacity: 0.5;
        }

        #contact-form input,
        #contact-form textarea{
          border-radius: 0;
        }
        #contact-form textarea{
          height: 150px;
        }

.modal-title{
  color: #6E7490;
  padding-top: 0;
}
.modal-footer{
  text-align: center;
}
  .modal-footer p{
    text-align: center !important;
    margin: 0 auto !important;
    box-sizing: border-box;
    padding: 10px;
    font-size: 9pt;
    line-height: 1em;
  }

  .modal .btn-default,
  #contact-form .btn-primary{
    background-color: #3C6DD1;
    transition: 0.2s;
    color:#fff;
    /*border-radius: 25px;*/
    letter-spacing: 2px;
    box-sizing: border-box;
    padding: 0px 35px 0px 35px;
    height: 40px;
    font-size: 9pt;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 40px;
    margin-right:20px;
  }
    .modal .btn-default:hover,
    #contact-form .btn-primary:hover{
      background-color: #2b5ab9;
      transition: 0.2s;
      color:#fff;
    }








/*
    ===========================
    ===========================
           Mobile Styles
    ===========================
    ===========================
*/
.sidebar-toggle{
    position: relative;
    top:14px;
    color: #fff !important;
    opacity: 1;
    transition: 0.2s;
}
    .sidebar-toggle:hover{
        opacity: 0.55;
        transition:0.2s;
    }


@media only screen and (max-width: 740px) {
    .navbar-brand{
        margin-bottom: 20px;
    }

    .app-name{
        font-size: 14pt;
    }

    .navBarButton{
      letter-spacing: 2px;
      transition: 0.2s;
      color: rgba(255,255,255,0.35);
      position: fixed;
      top: 2px; right:10px;
    }

    .modal-dialog{
      width: 96%;
      box-sizing: border-box;
      padding: 25px;
      margin: 2% 2% 2% 2%;
      color: #000;
      letter-spacing: 1px;
      font-weight: 400;
      max-height: 96%;
    }

    .modal-body ul li a{
        font-size: 8pt;
        padding: 6px;
    }


    .modal-body p{
        font-size: 8pt;
    }

}



@media only screen and (max-width: 590px) {
    .navbar-brand{
        width: 150px;
        top: -1px;
        position: relative;
        padding: 20px 6px 20px 6px;
    }
        .navbar-brand img{
            margin-right: 2px;
        }

    .app-name{
        font-size: 12pt;
    }

    #aboutTabs li{
        width: 100%;
        margin: 0 auto;
        padding: 0;
        display: block;
    }
        #aboutTabs li a{
            border-radius: 20px;
            border: none;
            padding-bottom: 8px;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 5px;
            background-color: #ECEEF4;
            font-weight: bolder;
        }
            #aboutTabs li a:hover{
                background-color: #fff;
            }
    #aboutTabs .active a{
        background-color: #19232F !important;
        color: #fff;
        border: none;
    }

}



@media only screen and (max-width: 520px) {
    .navbar-brand{
        width: 120px;
        position: relative; top:-1px;
    }

    .app-name{
        max-width: 130px;
        line-height: 15px;
        padding-left: 6px;
        letter-spacing: 1px;
        font-weight: 400;
        display: inline-block;
        position: relative; top:12px;
        font-size: 10pt;
    }
}
